<ion-view title="Page">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="order row">
      <main role="main" class="large-9 columns">
        <article class="outline">
          <h1 class="title">
                <a ui-sref="billingList()" id="return-btn" class="btn icon-caret-left">Retour</a>
                <!-- <a href="http://luxedecors.projects.accessleader.com/fr/payment/customer/print_bill/301" id="print-btn" class="btn icon-print" title="Imprimer"></a> -->
                <!-- <a href="http://luxedecors.projects.accessleader.com/fr/payment/customer/pdf_bill/301" id="pdf-btn" class="btn icon-download-alt" title="Télécharger"></a> -->
                Bon de commande n° <span>LD{{ billingView.billing.billing_id }}</span>
            </h1>
          <div class="info">Date de commande: {{ billingView.billing.date_creation }}</div>
          <div class="row">
            <div class="large-6 columns shipping_address">
              <div class="padding20">
                <h1>Adresse de livraison</h1>
                {{ billingView.customer_address.sh_first_name }} {{ billingView.customer_address.sh_last_name }}<br/>
                {{ (billingView.customer_address.sh_company) ? billingView.customer_address.sh_company : '' }}<br ng-if="billingView.customer_address.sh_company"/>
                {{ (billingView.customer_address.sh_tax_number) ? 'Matricule fiscale:' + billingView.customer_address.sh_tax_number : '' }}<br ng-if="billingView.customer_address.sh_tax_number"/>
                T: {{ billingView.customer_address.sh_phone }} {{ (billingView.customer_address.sh_fax) ? ', Mobile: ' + billingView.customer_address.sh_fax : '' }}<br/>
                {{ billingView.customer_address.sh_address }}<br/>
                {{ billingView.customer_address.sh_city }}, {{ billingView.customer_address.sh_postal_code }}<br/>
                {{ getCities().states[billingView.customer_address.sh_state] }}, Tunisie
              </div>
            </div>
            <div class="large-6 columns billing_address">
              <div class="padding20">
                <h1>Adresse de facturation</h1>
                {{ billingView.customer_address.first_name }} {{ billingView.customer_address.last_name }}<br/>
                {{ (billingView.customer_address.company) ? billingView.customer_address.company : '' }}<br ng-if="billingView.customer_address.company"/>
                {{ (billingView.customer_address.tax_number) ? 'Matricule fiscale:' + billingView.customer_address.tax_number : '' }}<br ng-if="billingView.customer_address.tax_number"/>
                T: {{ billingView.customer_address.phone }} {{ (billingView.customer_address.fax) ? ', Mobile: ' + billingView.customer_address.fax : '' }}<br/>
                {{ billingView.customer_address.address }}<br/>
                {{ billingView.customer_address.city }}, {{ billingView.customer_address.postal_code }}<br/>
                {{ getCities().states[billingView.customer_address.state] }}, Tunisie
              </div>
            </div>
          </div>
          <table id="cart-details" class="twelve">
            <thead>
              <tr>
                <th class="product">Item</th>
                <th class="designation">Désignation</th>
                <th class="unit-price">Prix unitaire</th>
                <th class="quantity">Quantité</th>
                <th class="price">Prix</th>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="item in billingView.billing_item">
                <td class="product">
                    <img ng-if="item.image" ng-src="{{ thumb(item.image, '_thumb2') }}">
                </td>
                <td class="designation">
                  <a href="#">{{ item.title }}</a>
                  <span class="sku">SKU: {{ item.sku }}</span>
                  <!--  TODO liste des attributs -->
                  <!-- <span class="sku">Diamètre: Petit</span> -->
                </td>
                <td class="unit-price">
                  {{ amountFormat(item.unit_price) }}
                  <span ng-if="item.promotion != '0'" class="discount">{{ item.promotion }}% escompte appliqué</span>
                </td>
                <td class="quantity">{{ item.quantity }}</td>
                <td class="price">{{ amountFormat(item.price) }}</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="billingView.billing.coupon_code" id="cart-coupon" class="padding20 grey">
              <label>Code coupon</label>
              <span class="coupon-code">
                  {{ billingView.billing.coupon_code }}
              </span>
          </div>
          <div id="cart-total" class="padding20">
            <div ng-if="billingView.billing.coupon_code">
                Coupon de réduction
                <span id="coupon-discount">-{{ amountFormat(billingView.billing.coupon_discount) }}</span>
            </div>
            <div ng-if="billingView.billing.coupon_code">
                Code coupon
                <span id="coupon-discount">{{ billingView.billing.coupon_code }}</span>
            </div>
            <div>
              Sous-total <span id="subtotal">{{ amountFormat(total()) }}</span>
            </div>
            <div ng-if="billingView.billing.tps_prod != '0'">
                TVA
                <span>{{ amountFormat(billingView.billing.tps_prod) }}</span>
            </div>
            <div ng-if="billingView.billing.price_colissimo != '0'">
                Frais de transport
                <span id="subtotal">{{ amountFormat(billingView.billing.price_colissimo) }}</span>
            </div>
            <div id="total-wrap">
              Total <span id="total">{{ amountFormat(billingView.billing.total_price) }}</span>
            </div>
          </div>
          <div class="main-footer" ng-switch="billingView.billing.type">
            Commande {{ (billingView.billing.type == 2) ? 'en traitement' : (billingView.billing.type == 3) ? 'terminé' : (billingView.billing.type == 4) ? 'annulé' : 'en attente' }}
          </div>
          <div class="main-footer">
            Mode de paiment : {{ (billingView.billing.status == 2) ?'En ligne':'À la livraison' }} </div>
        </article>
      </main>
      <div ng-include ng-init="sideboxClass = 'large-3 columns'" src="'templates/side-box.html'"></div>
    </div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
