<ion-view title="Page">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="order-list row">
      <main role="main" class="large-9 columns">
        <article class="outline">
          <h1 class="title">
            <a ui-sref="dashboard()" id="return-btn" class="btn icon-caret-left">Retour</a>
            Mes commandes
          </h1>
          <div ng-if="billingList.length > 0" id="order-list">
            <table id="order-details" class="twelve">
              <thead>
                <tr>
                  <th class="order">Bon de commande</th>
                  <th class="date">Date</th>
                  <th class="freightage">Frais de transport</th>
                  <th class="total">Total</th>
                  <th class="order">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in billingList">
                  <td class="order">
                    <a ui-sref="billingView({id: item.billing_id})">LD{{ item.billing_id}}</a>
                  </td>
                  <td class="date">{{ item.date_creation}}</td>
                  <td class="freightage">{{ amountFormat(item.price_colissimo) }}</td>
                  <td class="total">{{ amountFormat(item.total_price) }}</td>
                  <td class="order" ng-switch="item.type">
                    <span ng-switch-when="2">En traitement</span>
                    <span ng-switch-when="3">Terminé</span>
                    <span ng-switch-when="4">Annulé</span>
                    <span ng-switch-default>En attente</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="no-item" class="padding"><span class="icon-exclamation-sign"></span> Vous n'avez encore placé aucune commande.</div>
        </article>
      </main>
      <div ng-include ng-init="sideboxClass = 'large-3 columns'" src="'templates/side-box.html'"></div>
    </div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
