<ion-view title="Product Detail">
    <ion-content>
      <ion-refresher
        pulling-text="Tirer pour rafraîchir"
        pulling-icon="ion-ios-arrow-down"
        on-refresh="doRefresh()">
      </ion-refresher>
        <div ng-include src="'templates/header.html'"></div>
        <div id="page" class="checkout step3 container">
            <nav id="steps-bar">
                <ul>
                    <li class="done"><a ui-sref="cart()">Mon panier</a></li>
                    <li class="done"><a ui-sref="checkout()">Validation de
                        l’adresse</a></li>
                    <li class="active">Confirmation</li>
                    <li>Paiement</li>
                </ul>
            </nav>
            <main role="main" class="row">
                <div class="twelve columns">
                    <div class="large-6 columns shipping_address">
                        <h1>Adresse de livraison</h1>
                        <div ng-if="checkoutInfo.shipping_different">
                            {{ checkoutInfo.sh_first_name }} {{ checkoutInfo.sh_last_name }}<br/>
                            {{ (checkoutInfo.sh_company) ? checkoutInfo.sh_company : '' }}<br ng-if="checkoutInfo.sh_company"/>
                            {{ (checkoutInfo.sh_tax_number) ? 'Matricule fiscale:' + checkoutInfo.sh_tax_number : '' }}<br ng-if="checkoutInfo.sh_tax_number"/>
                            T: {{ checkoutInfo.sh_phone }} {{ (checkoutInfo.sh_fax) ? ', Mobile: ' + checkoutInfo.sh_fax : '' }}<br/>
                            {{ checkoutInfo.sh_address }}<br/>
                            {{ checkoutInfo.sh_city }}, {{ checkoutInfo.sh_postal_code }}<br/>
                            {{ getCities().states[checkoutInfo.sh_state] }}, Tunisie
                        </div>
                        <div ng-if="!checkoutInfo.shipping_different">
                            {{ checkoutInfo.first_name }} {{ checkoutInfo.last_name }}<br/>
                            {{ (checkoutInfo.company) ? checkoutInfo.company : '' }}<br ng-if="checkoutInfo.company"/>
                            {{ (checkoutInfo.tax_number) ? 'Matricule fiscale:' + checkoutInfo.tax_number  : '' }}<br ng-if="checkoutInfo.tax_number"/>
                            T: {{ checkoutInfo.phone }} {{ (checkoutInfo.fax) ? ', Mobile: ' + checkoutInfo.fax : '' }}<br/>
                            {{ checkoutInfo.address }}<br/>
                            {{ checkoutInfo.city }}, {{ checkoutInfo.postal_code }}<br/>
                            {{ getCities().states[checkoutInfo.state] }}, Tunisie
                        </div>

                    </div>
                    <div class="large-6 columns billing_address">
                        <h1>Adresse de facturation</h1>
                        {{ checkoutInfo.first_name }} {{ checkoutInfo.last_name }}<br/>
                        {{ (checkoutInfo.company) ? checkoutInfo.company : '' }}<br ng-if="checkoutInfo.company"/>
                        {{ (checkoutInfo.tax_number) ? 'Matricule fiscale:' + checkoutInfo.tax_number : '' }}<br ng-if="checkoutInfo.tax_number"/>
                        T: {{ checkoutInfo.phone }} {{ (checkoutInfo.fax) ? ', Mobile: ' + checkoutInfo.fax : '' }}<br/>
                        {{ checkoutInfo.address }}<br/>
                        {{ checkoutInfo.city }}, {{ checkoutInfo.postal_code }}<br/>
                        {{ getCities().states[checkoutInfo.state] }}, Tunisie
                    </div>
                    <table id="cart-details" class="twelve outline">
                        <thead>
                        <tr>
                            <th class="product">Item</th>
                            <th class="designation">Désignation</th>
                            <th class="unit-price">Prix unitaire</th>
                            <th class="quantity">Quantité</th>
                            <th class="price">Prix</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in cart">
                            <td class="product">
                                <a ui-sref="productDetail({id: item.id})"><img ng-src="{{ item.image }}" alt="thumb"></a>
                            </td>
                            <td class="designation">
                                <a ui-sref="productDetail({id: item.id})">{{ item.title }}</a>
                                <span class="sku">SKU: {{ item.ref }}</span>
                                <!-- TODO laminage-->
                                <!--<span class="sku">+ Laminage ( 24 DT )</span></td>-->
                            </td>
                            <td class="unit-price">
                              {{ amountFormat(item.promotion_value > 0 ? item.promo_price : item.price) }}
                              <span ng-if="item.promotion_value > 0" class="discount">{{ item.promotion_value }}% escompte appliqué</span>
                            </td>
                            <td class="quantity">
                                {{ item.quantity }}
                            </td>
                            <td class="price">{{ amountFormat( (item.promotion_value > 0 ? item.promo_price : item.price ) * item.quantity ) }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="cart-collaterals" class="row">
                        <div class="large-8 columns">
                          <div ng-if="coupon.valid && parseFloat(coupon.minPurchase) <= total(cart)" id="cart-coupon" class="outline padding grey">
                              <label>Code coupon</label>
                              <span class="coupon-code">{{ coupon.code }}</span>
                          </div>
                        </div>
                        <div class="large-4 columns">
                            <div id="cart-total" class="outline padding">
                                <div ng-if="coupon.valid && parseFloat(coupon.minPurchase) <= total(cart)">
                                    Coupon de réduction
                                    <span ng-if="coupon.type == 1" id="coupon-discount">-{{ amountFormat(coupon.discount) }}</span>
                                    <span ng-if="coupon.type == 2" id="coupon-discount">-{{ amountFormat(total(cart) - total(cart, true)) }}</span>
                                </div>
                                <div>
                                    Sous-total <span id="subtotal">{{ amountFormat(total(cart)) }}</span>
                                </div>
                                <div ng-if="currentUser.type == 1 && total(cart) < free_transport">
                                    Frais de transport
                                    <span id="subtotal">{{ amountFormat(shipping_fee) }}</span>
                                </div>
                                <div id="total-wrap">
                                    Total <span id="total">{{ amountFormat( total(cart, (coupon.valid && parseFloat(coupon.minPurchase) <= total(cart)) ? true : undefined ) + ((currentUser.type == 1 && total(cart) < free_transport) ? shipping_fee : 0) ) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form >
                        <div ng-if="currentUser.type == 1" id="payment-method">
                            <div class="row">
                                <div class="large-6 columns">
                                    <h1>Sélectionnez votre mode de paiement :</h1>
                                </div>
                                <div class="large-3 columns">
                                    <input type="radio" class="radio" id="delivery" name="payment-method" ng-model="formData.paymentMethod" value="delivery" />
                                    <label for="delivery">Paiement à la livraison</label>
                                </div>
                                <div class="large-3 columns">
                                    <input type="radio" class="radio" id="sps" name="payment-method" ng-model="formData.paymentMethod" value="sps" checked/>
                                    <label for="sps">Paiement en ligne</label>
                                </div>
                            </div>
                        </div>
                        <div class="main-footer">
                            <a class="button" ui-sref="checkout()">Retour</a>
                            <button class="button" ng-click="confirmCheckout()">Valider</button>
                        </div>
                    </form>
                </div>
            </main>
            <div id="checkout-help" class="outline">
                <div class="row">
                    <article class="faq-ecommerce large-8 columns">
                        <h1 class="title"><i class="icon-question-sign"></i>FAQ</h1>
                        <ul id="faq">
                        </ul>
                    </article>
                    <article class="infoline large-4 columns">
                        <h1 class="title"><i class="icon-comments"></i>Parler à un conseiller</h1>
                        <ul id="coordinates">
                            <li class="mobile">{{ mobile }}</li>
                            <li class="tel">{{ tel }}</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
        </div>
        <div ng-include src="'templates/footer.html'"></div>
    </ion-content>
</ion-view>
