<ion-view title="Product Detail">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="checkout step1 container">
      <nav id="steps-bar">
        <ul>
          <li class="active">Mon panier</li>
          <li>Validation de l’adresse</li>
          <li>Confirmation</li>
          <li>Paiement</li>
        </ul>
      </nav>
      <main role="main" class="row">
        <div class="twelve columns">
          <div ng-if="cart.length > 0" id="cart">
            <div class="cart-details-wrap">
              <table id="cart-details" class="twelve outline">
                <thead>
                  <tr>
                    <th class="product">Item</th>
                    <th class="designation">Désignation</th>
                    <th class="remove">Retirer</th>
                    <th class="unit-price">Prix unitaire</th>
                    <th class="quantity">Quantité</th>
                    <th class="price">Prix</th>
                  </tr>
                </thead>
                <tbody>

                  <tr ng-repeat="item in cart" data-id="{{ item.id }}">
                    <!-- identifiant unique de chaque produit -->
                    <td class="product">
                      <a ui-sref="productDetail({id: item.id})"><img ng-src="{{ item.image }}" alt="thumb"></a>
                    </td>
                    <td class="designation">
                      <a ui-sref="productDetail({id: item.id})">{{ item.title }}</a>
                      <span class="sku">SKU: {{ item.ref }}</span>
                      <!-- TODO laminage-->
                      <!--<span class="sku">+ Laminage ( 24 DT )</span></td>-->
                    </td>
                    <td class="remove">
                      <button title="Retirer" ng-click="remove(item.id)"><span class="icon-remove-sign"></span></button>
                    </td>
                    <td class="unit-price">
                      {{ amountFormat(item.promotion_value > 0 ? item.promo_price : item.price) }}
                      <span ng-if="item.promotion_value > 0" class="discount">{{ item.promotion_value }}% escompte appliqué</span>
                    </td>
                    <td class="quantity">
                      <span>
                                  <input type="text" class="input-quantity" maxlength="2" ng-model="item.quantity" readonly>
                                  <button class="quantity-btn plus" ng-click="(item.quantity < item.stocked) ? (item.quantity = item.quantity + 1) : (item.quantity = item.stocked)"><span
                                          class="icon-plus"></span></button>
                      <button class="quantity-btn minus" ng-click="item.quantity = (item.quantity == 1) ? 1 : (item.quantity - 1)"><span class="icon-minus"></span></button>
                      </span>
                    </td>
                    <td class="price">{{ amountFormat( (item.promotion_value > 0 ? item.promo_price : item.price ) * item.quantity ) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="cart-collaterals" class="row">

              <div ng-if="!authenticated || currentUser.type != 2" class="large-8 columns">
                <form ng-if="!coupon.valid" id="cart-coupon" class="form outline padding grey" ng-submit="validateCoupon()">
                  <label for="coupon">Code coupon</label>
                  <div class="input-wrap">
                    <input type="text" id="coupon" ng-model="formData.coupon_code">
                    <div ng-if="coupon.error" class="error icon" style="display: inline-block;">
                        <span class="tooltip">{{ coupon.error }}</span>
                    </div>
                  </div>
                  <button type="submit" class="button">Valider</button>
                </form>
                <div ng-if="coupon.valid" id="cart-coupon" class="form outline grey">
                  <label>Code coupon</label>
                  <span class="coupon-code">{{ coupon.code }}</span>
                  <a ng-click="removeCoupon()" class="cancel" title="Cancel">
                    <span class="icon-remove-sign"></span>
                  </a>
                  <span ng-if="coupon.minPurchase" class="warning">
                    <i class="icon-warning-sign"></i>
                    <span>Applicable sur un achat minumum de : </span>
                    {{ amountFormat(coupon.minPurchase) }}
                  </span>
                </div>
              </div>

              <div class="large-4 columns">
                <div id="cart-total" class="outline padding">
                  <!-- Si un code coupon valide est appliqué -->
                  <div ng-if="coupon.valid && parseFloat(coupon.minPurchase) <= total(cart)">
                    Coupon de réduction
                    <span ng-if="coupon.type == 1" id="coupon-discount">-{{ amountFormat(coupon.discount) }}</span>
                    <span ng-if="coupon.type == 2" id="coupon-discount">-{{ amountFormat(total(cart) - total(cart, true)) }} ({{ coupon.discount }}%)</span>
                  </div>
                  <div>Sous-total <span id="subtotal">{{ amountFormat( total(cart, (coupon.valid && parseFloat(coupon.minPurchase) <= total(cart)) ? true : undefined ) ) }}</span></div>
                </div>
              </div>
            </div>
            <div class="main-footer">
              <a ng-if="!authenticated" url="#popin-signin-signup" fancybox style="float:right;" class="popin-open button"> Passer
                                la commande</a>
              <a ng-if="authenticated" style="float:right;" ui-sref="checkout()" class="button"> Passer
                                la commande</a>
            </div>
          </div>
          <div ng-if="cart.length == 0" id="no-item" class="twelve outline padding"><span class="icon-exclamation-sign"></span> Votre panier est vide!
          </div>
        </div>
      </main>
      <div id="checkout-help" class="outline">
        <div class="row">
          <article class="faq-ecommerce large-8 columns">
            <h1 class="title"><i class="icon-question-sign"></i>FAQ</h1>
            <ul id="faq">
            </ul>
          </article>
          <article class="infoline large-4 columns">
            <h1 class="title"><i class="icon-comments"></i>Parler à un conseiller</h1>
            <ul id="coordinates">
              <li class="mobile">{{ mobile }}</li>
              <li class="tel">{{ tel }}</li>
            </ul>
          </article>
        </div>
      </div>
    </div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
