<ion-view title="Product Detail">
    <ion-content>
      <ion-refresher
        pulling-text="Tirer pour rafraîchir"
        pulling-icon="ion-ios-arrow-down"
        on-refresh="doRefresh()">
      </ion-refresher>
        <div ng-include src="'templates/header.html'"></div>
        <div id="page" class="checkout step2 container">
            <nav id="steps-bar">
                <ul>
                    <li class="done"><a ui-sref="cart()">Mon panier</a></li>
                    <li class="active">Validation de l’adresse</li>
                    <li>Confirmation</li>
                    <li>Paiement</li>
                </ul>
            </nav>
            <main role="main" class="row">
                <form ng-submit="processCheckout()" class="form" id="df1">
                    <div class="twelve columns">
                        <article class="outline padding">
                            <div id="billing_address">
                                <h1 class="title">Adresse de facturation</h1>
                                <div class="row">
                                    <div class="large-4 columns">
                                        <label for="first_name" data-required="(obligatoire)">Prénom</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.first_name" id="first_name" size="45"
                                                   class="input">
                                            <div class="error icon" ng-if="formData.checkout.errors.first_name != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.first_name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns">
                                        <label for="last_name" data-required="(obligatoire)">Nom</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.last_name" id="last_name" size="45"
                                                   class="input">
                                            <div class="error icon" ng-if="formData.checkout.errors.last_name != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.last_name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns end">
                                        <label for="company" data-required="(obligatoire)">Entreprise</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.company" id="company" size="45"
                                                   class="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-8 columns">
                                        <label for="address" data-required="(obligatoire)">Adresse</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.address" id="address" size="45"
                                                   class="input">
                                            <div class="error icon" ng-if="formData.checkout.errors.address != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.address }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns end">
                                        <label for="tax_number">Matricule fiscale</label>
                                        <div class="input-wrap">
                                          <input type="text" ng-model="formData.checkout.tax_number" id="tax_number" size="45" class="input">
                                          <div class="error icon" ng-if="formData.checkout.errors.tax_number != undefined">
                                              <span class="tooltip">{{ formData.checkout.errors.tax_number }}</span>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="large-4 columns">
                                      <label for="postal_code" data-required="(obligatoire)">Code postal</label>
                                      <div class="input-wrap">
                                          <input type="text" ng-model="formData.checkout.postal_code" id="postal_code" size="45" class="input">
                                          <div class="error icon" ng-if="formData.checkout.errors.postal_code != undefined">
                                              <span class="tooltip">{{ formData.checkout.errors.postal_code }}</span>
                                          </div>
                                      </div>
                                  </div>
                                    <div class="large-4 columns">
                                        <label for="state" data-required="(obligatoire)">Gouvernorat </label>
                                        <div class="input-wrap">
                                            <div id="country_region_id">
                                                <div class="select-wrap">
                                                    <select ng-model="formData.checkout.state" id="state" name="state" class="select">
                                                        <option value="">Sélectionner</option>
                                                        <option ng-repeat="(key, state) in getCities().states" value="{{ key }}" ng-selected="formData.checkout.state == key">{{ state }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="error icon" ng-if="formData.checkout.errors.state != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.state }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns end">
                                        <label for="city" data-required="(obligatoire)">Ville</label>
                                        <div class="input-wrap">
                                            <div id="city_region_id">
                                                <div class="select-wrap">
                                                    <select id="city" ng-model="formData.checkout.city" name="city" class="select">
                                                        <option value="">Sélectionner</option>
                                                        <option ng-repeat="city in getCities().cities[formData.checkout.state]" value="{{ city }}" ng-selected="formData.checkout.city == city">{{ city }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="error icon" ng-if="formData.checkout.errors.city != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.city }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-4 columns">
                                        <label for="phone" data-required="(obligatoire)">Téléphone</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.phone" id="phone" size="45" class="input">
                                            <div class="error icon" ng-if="formData.checkout.errors.phone != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.phone }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns end">
                                        <label for="fax">Mobile</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.mobile" id="fax" size="45" class="input">
                                            <div class="error icon" ng-if="formData.checkout.errors.mobile != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.mobile }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="shipping_toggle" class="checkbox-wrap">
                                <label for="shipping_different">
                                    <input type="checkbox" class="ios-switch" id="shipping_different" ng-model="formData.checkout.shipping_different">
                                    <div class="switch"></div>
                                    Livrer à une autre adresse
                                </label>
                            </div>
                            <div id="shipping_address" ng-show="formData.checkout.shipping_different">
                                <h1 class="title">Adresse de livraison</h1>
                                <div class="row">
                                    <div class="large-4 columns">
                                        <label for="sh_first_name" data-required="(obligatoire)">Prénom</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.sh_first_name" id="sh_first_name"
                                                   size="45" class="input">
                                            <div class="error icon" ng-if="formData.checkout.errors.sh_first_name != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.sh_first_name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns">
                                        <label for="sh_last_name" data-required="(obligatoire)">Nom</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.sh_last_name" id="sh_last_name"
                                                   size="45" class="input">
                                            <div class="error icon" ng-if="formData.checkout.errors.sh_last_name != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.sh_last_name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns end">
                                        <label for="sh_company" data-required="(obligatoire)">Entreprise</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.sh_company" id="sh_company" size="45"
                                                   class="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-8 columns">
                                        <label for="sh_address" data-required="(obligatoire)">Adresse</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.sh_address" id="sh_address" size="45" class="input">
                                            <div class="error icon" ng-if="formData.checkout.errors.sh_address != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.sh_address }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns end">
                                        <label for="tax_number">Matricule fiscale</label>
                                        <div class="input-wrap">
                                          <input type="text" ng-model="formData.checkout.sh_tax_number" id="tax_number" size="45" class="input">
                                          <div class="error icon" ng-if="formData.checkout.errors.sh_tax_number != undefined">
                                              <span class="tooltip">{{ formData.checkout.errors.sh_tax_number }}</span>
                                          </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                  <div class="large-4 columns">
                                      <label for="sh_postal_code" data-required="(obligatoire)">Code postal</label>
                                      <div class="input-wrap">
                                          <input type="text" ng-model="formData.checkout.sh_postal_code" id="sh_postal_code"
                                                 size="45" class="input">
                                          <div class="error icon" ng-if="formData.checkout.errors.sh_postal_code != undefined">
                                              <span class="tooltip">{{ formData.checkout.errors.sh_postal_code }}</span>
                                          </div>
                                      </div>
                                  </div>
                                    <div class="large-4 columns">
                                        <label for="sh_state" data-required="(obligatoire)">Gouvernorat </label>
                                        <div class="input-wrap">
                                            <div id="sh_country_region_id">
                                                <div class="select-wrap">
                                                    <select id="sh_state" ng-model="formData.checkout.sh_state" class="select">
                                                        <option value="">Sélectionner</option>
                                                        <option ng-repeat="(key, state) in getCities().states" value="{{ key }}" ng-selected="formData.checkout.sh_state == key">{{ state }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="error icon" ng-if="formData.checkout.errors.sh_state != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.sh_state }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns end">
                                        <label for="sh_city" data-required="(obligatoire)">Ville</label>
                                        <div class="input-wrap">
                                            <div id="sh_city_region_id">
                                                <select id="sh_city" ng-model="formData.checkout.sh_city" class="select">
                                                    <option value="">Sélectionner</option>
                                                    <option ng-repeat="city in getCities().cities[formData.checkout.sh_state]" value="{{ city }}" ng-selected="formData.checkout.sh_city == city">{{ city }}</option>
                                                </select>
                                            </div>
                                            <div class="error icon" ng-if="formData.checkout.errors.sh_city != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.sh_city }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-4 columns">
                                        <label for="sh_phone" data-required="(obligatoire)">Téléphone</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.sh_phone" id="sh_phone" size="45"
                                                   class="input">
                                            <div class="error icon" ng-if="formData.checkout.errors.sh_phone != undefined">
                                                <span class="tooltip">{{ formData.checkout.errors.sh_phone }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-4 columns end">
                                        <label for="sh_fax">Télécopieur</label>
                                        <div class="input-wrap">
                                            <input type="text" ng-model="formData.checkout.sh_fax" id="sh_fax" size="45"
                                                   class="input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="main-footer">
                            <a class="button" ui-sref="cart()">Retour</a>
                            <button type="submit" class="button">Continuer</button>
                        </div>
                    </div>
                </form>
            </main>
            <div id="checkout-help" class="outline">
                <div class="row">
                    <article class="faq-ecommerce large-8 columns">
                        <h1 class="title"><i class="icon-question-sign"></i>FAQ</h1>
                        <ul id="faq">
                        </ul>
                    </article>
                    <article class="infoline large-4 columns">
                        <h1 class="title"><i class="icon-comments"></i>Parler à un conseiller</h1>
                        <ul id="coordinates">
                            <li class="mobile">{{ mobile }}</li>
                            <li class="tel">{{ tel }}</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
        <div ng-include src="'templates/footer.html'"></div>
    </ion-content>
</ion-view>
