<ion-view title="Page">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="contact row">
      <div class="large-7 push-5 columns">
        <main role="main" class="outline">
          <section id="mapcontact"></section>
          <h1>Nos coordonnées</h1>
          <div class="content-from-editor">
            <p><strong>Si&egrave;ge social:</strong></p>
          </div>
          <address>
    				<ul id="coordinates">
    					<li class="mobile">{{ mobile }}</li>
    					<li class="tel">{{ tel }}</li>
    					<li class="fax">73 822 771</li>
    					<li class="email">contact@luxedecors.com.tn</li>
    					<li class="address">Avenue Mongi Grira Sahloul 4 - 4054 Sousse – Tunisie</li>
    				</ul>
			    </address>
        </main>
      </div>
      <div class="large-5 pull-7 columns">
        <article ng-if="success" class="outline" style="margin-top:20px;">
          <h1 class="title">Message envoyé</h1>
          <div class="content-from-editor">
            <p>Cher visiteur,
              <br>&nbsp;
              <br>L'équipe de <strong>Luxe Decors</strong>&nbsp;vous remercie de votre intérêt et vous confirme la réception de votre&nbsp;message.
              <br>&nbsp;
              <br>Un conseiller&nbsp;répondra à votre demande ou prendra contact avec vous&nbsp;dans les plus brefs délais. <em></em><em><br></em></p>
          </div>
        </article>
        <form ng-if="!success" id="contact-form" ng-submit="contact()" class="form outline">
          <h2 class="title">Envoyer un message</h2>
          <label for="name">Nom</label>
          <div class="input-wrap medium">
            <input type="text" ng-model="formData.name" name="name" maxlength="" size="45" class="input" />
            <div class="error icon" ng-if="formData.errors.name != undefined">
    					<span class="tooltip">{{ formData.errors.name }}</span>
    				</div>
          </div>
          <label for="subject">Sujet</label>
          <div class="input-wrap medium">
            <div class="select-wrap">
              <select ng-model="formData.subject">
                <option>Demande d’information</option>
                <option>Remerciements</option>
                <option>Suggestions</option>
                <option>Insatisfactions</option>
                <option>Mon compte</option>
                <option>Recrutement</option>
                <option>Autre</option>
              </select>
            </div>
          </div>
          <label for="email">Email</label>
          <div class="input-wrap">
            <input type="text" name="email" ng-model="formData.email" size="45" class="input" />
            <div class="error icon" ng-if="formData.errors.email != undefined">
    					<span class="tooltip">{{ formData.errors.email }}</span>
    				</div>
          </div>
          <label for="message" class="msg_label">Votre message</label>
          <textarea ng-model="formData.message" cols="42" rows="15" class="textarea"></textarea>
          <button type="submit" class="button">Valider</button>
        </form>
      </div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
