<ion-view title="Page">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="page row">
      <main role="main" class="large-9 columns">
        <article class="outline padding">
          <h1 class="title">Tableau de bord</h1>
          <div id="dashboard-links">
            <div class="row">
              <div class="large-4 columns">
                <a fancybox href="#popin-edit-profile" data-fancybox-width="600" class="popin-open">
                  <i class="icon-user icon-2x"></i>
                  <h2>Informations du compte</h2> {{ currentUser.first_name }} {{ currentUser.last_name }}
                  <br/> {{ currentUser.email }} </a>
              </div>
              <div class="large-4 columns">
                <a fancybox href="#popin-edit-address" data-fancybox-width="600" class="popin-open">
                  <i class="icon-home icon-2x"></i>
                  <h2>Adresse de facturation</h2> <span class="null" ng-if="!currentUser.address">(Pas encore spécifié)</span> {{ currentUser.address }}
                  <br/> <span ng-if="currentUser.address">{{ currentUser.postal_code }}, {{ currentUser.city }}, {{ getCities().states[currentUser.state] }}</span>
                </a>
              </div>
              <div class="large-4 columns">
                <a ui-sref="billingList()">
                  <i class="icon-shopping-cart icon-2x"></i>
                  <h2>Mes commandes</h2> {{ dashboard.totalOrders }} commande(s) effectuée(s)
                  <br/> {{ dashboard.totalOrders ? 'Dernière commande en date du' : '' }} <span ng-if="dashboard.totalOrders" class="date">{{ dashboard.dateLastOrder }}</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </main>
      <div ng-include ng-init="sideboxClass = 'large-3 columns'" src="'templates/side-box.html'"></div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
