<ion-view title="Page">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="faq row">
      <main role="main" class="large-9 columns">
        <article class="outline">
          <h1 class="title">FAQ</h1>
          <ul id="faq">
            <li>
              <div class="faq-question">1. Comprendre le papier peint</div>
              <div class="faq-summary">
                <div>
                  <iframe src="https://www.youtube-nocookie.com/embed/LT7BkQUcsr0" width="560" height="315" frameborder="0"></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="faq-question">2. Conseils pour la pose</div>
              <div class="faq-summary">
                <p>Combien de rouleau pour une pi&egrave;ce ?</p>
                <p>
                  <iframe src="https://www.youtube.com/embed/w5T31nlgIzU" width="560" height="315" frameborder="0"></iframe>
                </p>
                <p>
                  <br />V&eacute;rification des rouleaux</p>
                <p>
                  <iframe src="https://www.youtube-nocookie.com/embed/tJngDAuGKVs" width="560" height="315" frameborder="0"></iframe>
                </p>
              </div>
            </li>
            <li>
              <div class="faq-question">3. Préparation de la colle et pose du premier lé</div>
              <div class="faq-summary">
                <p>Pr&eacute;papration de la colle</p>
                <div>
                  <iframe src="https://www.youtube.com/embed/D-ZwGj_KcPM" width="560" height="315" frameborder="0"></iframe>
                </div>
                <p>
                  <br />Pr&eacute;paration d'un l&eacute; avec de la colle</p>
                <div>
                  <iframe src="https://www.youtube-nocookie.com/embed/-7OdPs48CDY" width="560" height="315" frameborder="0"></iframe>
                </div>
                <p>&nbsp;</p>
              </div>
            </li>
            <li>
              <div class="faq-question">4. Technique de pose</div>
              <div class="faq-summary">
                <p>&nbsp;</p>
                <div>
                  <iframe src="https://www.youtube-nocookie.com/embed/ojnFPm-f8bU?rel=0" width="560" height="315" frameborder="0"></iframe>
                </div>
                <p>&nbsp;</p>
              </div>
            </li>
            <li>
              <div class="faq-question">5. Matériels nécessaires pour la pose</div>
              <div class="faq-summary">
                <div>
                  <iframe src="https://www.youtube-nocookie.com/embed/rWe3EaxFO7I?rel=0" width="560" height="315" frameborder="0"></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="faq-question">6. Pose papier peint au plafond</div>
              <div class="faq-summary">
                <p>&nbsp;</p>
                <div>
                  <iframe src="https://www.youtube-nocookie.com/embed/xhmUYhRsK5w?rel=0" width="560" height="315" frameborder="0"></iframe>
                </div>
                <p>&nbsp;</p>
              </div>
            </li>
          </ul>
        </article>
      </main>
      <div ng-include ng-init="sideboxClass = 'large-3 columns'" src="'templates/side-box.html'"></div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
