<footer>
  <div class="top-footer">
    <div class="container">
      <ul class="ecommerce-services row">
        <li class="large-4 medium-4 columns">
          <div>
            <i class="icon-truck"></i>
            <span class="text" ng-bind-html="footerServices[0]"></span>
          </div>
        </li>
        <li class="large-4 medium-4 columns">
          <div>
            <i class="icon-shopping-cart"></i>
            <span class="text" ng-bind-html="footerServices[1]"></span>
          </div>
        </li>
        <li class="large-4 medium-4 columns">
          <div>
            <i class="icon-credit-card"></i>
            <span class="text" ng-bind-html="footerServices[2]"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <ul class="footer-links">
      <li><a ui-sref="page({slug: 'telvza-tv'})" title="">TV</a></li>
      <li><a ui-sref="faq" title="">FAQ</a></li>
      <li><a ui-sref="contact" title="">Contactez-nous</a></li>
      <li><a ui-sref="stores" title="">Points de vente</a></li>
      <li><a ui-sref="terms-and-conditions" title="">Conditions générales de vente</a></li>
      <li><a ng-click="openBrowser('https://www.facebook.com/luxedecorstn')" target="_blank"><span class="icon-facebook"></span> Page
                facebook </a></li>
      <li><a href="#popin-newsletter" class="popin-open" fancybox><span class="icon-envelope"></span>
                Infolettre</a>
      </li>
    </ul>
    <div id="copyright">
      © {{ year }} Luxe Decors. Tous droits réservés.
      <span id="al-link-fr">
				Conception et réalisation <a target="_blank" ng-click="openBrowser('http://www.accesleader.com')" class="ir" href="http://www.accesleader.com">ACCÈS LEADER</a>
			</span>
    </div>
    <img id="logo-footer" src="assets/img/logo-footer@2x.png" alt="Luxe Decors">
  </div>
</footer>

<div class="hidden">

  <!-- //////////////////// POPIN SIGNIN \\\\\\\\\\\\\\\\\\\\ -->
  <div id="popin-signin-signup" class="popin">
    <div class="popin-header">
      <span class="popin-close icon-remove-sign"></span>
      <div class="title icon-lock">Connexion</div>
    </div>
    <div class="popin-body row">
      <div id="sign-in" class="half">
        <h1>Vous avez déjà un compte</h1>
        <form id="login_form" class="form" ng-submit="doLogin(formData.signin)">
          <label for="email">Courriel</label>
          <div class="input-wrap">
            <input type="text" id="email" name="email" ng-model="formData.signin.email" />
            <div class="error icon error_email" style="display: inline-block" ng-if="formData.signin.errors.email != undefined">
              <span class="tooltip">{{ formData.signin.errors.email }}</span>
            </div>
          </div>
          <label for="password">Mot de passe</label>
          <div style="font-size: 18px; display: inline-block; margin-left: 5px; color: #626264;">(<a href="#popin-lost-password" class="popin-open" fancybox tabindex="-1">oublié?</a>)
          </div>
          <div class="input-wrap">
            <input type="password" id="password" name="password" ng-model="formData.signin.password" />
            <div class="error icon error_password" style="display: inline-block" ng-if="formData.signin.errors.password != undefined">
              <span class="tooltip">{{ formData.signin.errors.password }}</span>
            </div>
          </div>
          <div class="wrap-center">
            <button type="submit" class="button">Se connecter</button>
          </div>
        </form>
      </div>
      <div id="sign-up" class="half">
        <h1>Nouveau client</h1>
        <!-- <p class="new_customer_msg">Bienvenue parmi nous.<br>Créer un compte est simple et rapide.</p> -->
        <div class="social_networks_login_msg">Connectez-vous grâce aux réseaux sociaux</div>
        <a ng-click="facebookSignIn()" class="fb-login-button button">
          <span class="icon-facebook"></span> Facebook
        </a>
        <a ng-click="googleSignin()" class="google-login-button button">
          <span class="icon-google-plus"></span> Google
        </a>
        <div class="sign_up_by_mail">Ou inscrivez-vous avec votre adresse courriel</div>
        <a href="#popin-signup" class="popin-open button" fancybox>Créer un compte</a>
      </div>
    </div>
  </div>

  <!-- //////////////////// POPIN LOST PASSWORD \\\\\\\\\\\\\\\\\\\\ -->
  <div id="popin-lost-password" class="popin">
    <div class="popin-header">
      <span class="popin-close icon-remove-sign"></span>
      <div class="title icon-key">Forgot Password</div>
    </div>
    <div class="popin-body">
      <form id="lost-password-form" class="form" ng-submit="retrievePass(formData.lostpassword.email)">
        <div class="row">
          <div class="large-12 columns">
            <label for="email">Enter your email</label>
            <div class="input-wrap">
              <input type="text" id="email" name="email" ng-model="formData.lostpassword.email" />
              <div class="error icon error_email">
                <span class="tooltip">Le champ Email est requis.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-center">
          <button type="submit" class="button">Valider</button>
        </div>
      </form>
      <div class="success-msg" style="display:none;">
        <span class="success icon"></span> Votre mot de passe a été envoyé à votre adresse courriel. Veuillez vérifier votre boîte de réception.
      </div>
    </div>
  </div>

  <!-- //////////////////// POPIN SIGNUP \\\\\\\\\\\\\\\\\\\\ -->
  <div id="popin-signup" class="popin">
    <div class="popin-header">
      <span class="popin-close icon-remove-sign"></span>
      <div class="title icon-lock">Créer un compte</div>
    </div>
    <div class="popin-body">
      <form ng-submit="signup(formData.signup)" id="form_register" class="form">
        <div class="row">
          <div class="large-4 columns">
            <label for="first_name">Prénom</label>
            <div class="input-wrap">
              <input type="text" id="first_name" name="first_name" ng-model="formData.signup.first_name" />
              <div class="error icon error_first_name" style="display: inline-block" ng-if="formData.signup.errors.first_name != undefined">
                <span class="tooltip">{{ formData.signup.errors.first_name }}</span>
              </div>
            </div>
          </div>
          <div class="large-4 columns">
            <label for="last_name">Nom</label>
            <div class="input-wrap">
              <input type="text" id="last_name" name="last_name" ng-model="formData.signup.last_name" />
              <div class="error icon error_last_name" style="display: inline-block" ng-if="formData.signup.errors.last_name != undefined">
                <span class="tooltip">{{ formData.signup.errors.last_name }}</span>
              </div>
            </div>
          </div>
          <div class="large-4 columns end">
            <label for="email">Courriel</label>
            <div class="input-wrap">
              <input type="text" id="email" name="email" ng-model="formData.signup.email" />
              <div class="error icon error_email" style="display: inline-block" ng-if="formData.signup.errors.email != undefined">
                <span class="tooltip">{{ formData.signup.errors.email }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <label for="password">Mot de passe</label>
            <div class="input-wrap">
              <input type="password" ng-model="formData.signup.password" />
              <div class="error icon error_passw" style="display: inline-block" ng-if="formData.signup.errors.password != undefined">
                <span class="tooltip">{{ formData.signup.errors.password }}</span>
              </div>
            </div>
          </div>
          <div class="large-4 columns end">
            <label for="conf_password">Confirmer mot de passe</label>
            <div class="input-wrap">
              <input type="password" ng-model="formData.signup.conf_password" />
              <div class="error icon error_passw_conf" style="display: inline-block" ng-if="formData.signup.errors.conf_password != undefined">
                <span class="tooltip">{{ formData.signup.errors.conf_password }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="checkbox-wrap">
              <label for="newsletter-input">
                <input type="checkbox" id="newsletter-input" class="ios-switch" ng-model="formData.signup.newsletter" ng-true-value="'1'" />
                <div class="switch"></div>
                J’aimerai être informé des dernières nouvelles de Luxe Decors. </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns read-agree-msg">
            En cliquant sur « Valider », je reconnais avoir lu et accepter les <a ng-click="openViewInNewTab('terms-and-conditions')">Conditions
                        générales de vente</a>.
          </div>
        </div>
        <div class="wrap-center">
          <button type="submit" class="button">Valider</button>
        </div>
      </form>
    </div>
  </div>

  <!-- //////////////////// POPIN NEWSLETTER \\\\\\\\\\\\\\\\\\\\ -->
  <div id="popin-newsletter" class="popin">
    <div class="popin-header">
      <div class="popin-close icon-remove"></div>
      <div class="title icon-envelope-alt">S’inscrire à l’infolettre</div>
    </div>
    <div class="popin-body">
      <form id="newsletter-form" class="form" ng-submit="newsletter(formData.newsletter.email)">
        <label for="newsletter_input">Saisissez votre email</label>
        <div class="input-wrap">
          <input type="text" id="newsletter_input" ng-model="formData.newsletter.email" />
          <div class="error icon" style="display:none;">
            <span class="tooltip">Le champ Email est requis.</span>
          </div>
          <!-- Loading icon -->
          <div class="loading icon icon-spin" style="display:none;"></div>
        </div>
        <button type="submit" class="button">Valider</button>
      </form>
      <!-- Success Message -->
      <div class="success-msg" style="display:none;">
        <span class="success icon"></span> Merci pour votre inscription!
      </div>
    </div>
  </div>

  <!-- //////////////////// POPIN EDIT PROFILE \\\\\\\\\\\\\\\\\\\\ -->
  <div id="popin-edit-profile" class="popin">
    <div class="popin-header">
      <span class="popin-close icon-remove-sign"></span>
      <div class="title icon-user">Informations du compte</div>
    </div>
    <div class="popin-body">
      <form ng-submit="editProfile()" id="form_edit" class="form">
        <div class="row">
          <div class="large-6 columns">
            <label for="first_name">Prénom</label>
            <div class="input-wrap">
              <input type="text" ng-model="formData.profile.first_name" id="first_name" size="45" class="input" />
              <div class="error icon error_first_name" ng-if="formData.profile.errors.first_name != undefined">
                <span class="tooltip">{{ formData.profile.errors.first_name }}</span>
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <label for="last_name">Nom</label>
            <div class="input-wrap">
              <input type="text" ng-model="formData.profile.last_name" id="last_name" size="45" class="input" />
              <div class="error icon error_last_name" ng-if="formData.profile.errors.last_name != undefined">
                <span class="tooltip">{{ formData.profile.errors.last_name }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label for="email">Courriel</label>
            <div class="input-wrap">
              <input type="text" ng-model="formData.profile.email" id="email" size="45" class="input" />
              <div class="error icon error_email" ng-if="formData.profile.errors.email != undefined">
                <span class="tooltip">{{ formData.profile.errors.email }}</span>
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <label for="tax_number">Matricule fiscale</label>
            <div class="input-wrap">
              <input type="text" ng-model="formData.profile.tax_number" id="tax_number" size="45" class="input" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label for="password">Nouveau mot de passe</label>
            <div class="input-wrap">
              <span id="password_field">
                <input type="password" ng-model="formData.profile.password" id="password" size="45" class="password"/>
              </span>
              <span id="password_checkbox">
                <input type="checkbox" ng-model="formData.profile.passwordCheckBox" ng-true-value="'True'" id="passwordCheckBox" style="vertical-align:middle;"/>  Modifier
              </span>
              <div class="error icon error_passw" ng-if="formData.profile.errors.password != undefined">
                <span class="tooltip">{{ formData.profile.errors.password }}</span>
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <label for="conf_password">Confirmer mot de passe</label>
            <div class="input-wrap">
              <span id="conf_password_field">
                <input type="password" ng-model="formData.profile.conf_password" id="conf_password" size="45" class="password"/>
              </span>
              <div class="error icon error_passw_conf" ng-if="formData.profile.errors.conf_password != undefined">
                <span class="tooltip">{{ formData.profile.errors.conf_password }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="checkbox-wrap">
          <label for="newsletter-input2">
            <input type="checkbox" ng-model="formData.profile.newsletter" ng-true-value="'1'" ng-false-value="'0'" id="newsletter-input2" class="ios-switch" />
            <div class="switch"></div>
            J’aimerai être informé des dernières nouvelles de Luxe Decors. </label>
        </div>
        <button type="submit" class="button">Valider</button>
      </form>
    </div>
  </div>

  <!-- //////////////////// POPIN EDIT ADDRESS \\\\\\\\\\\\\\\\\\\\ -->
  <div id="popin-edit-address" class="popin">
    <div class="popin-header">
      <span class="popin-close icon-remove-sign"></span>
      <div class="title icon-home">Adresse de facturation</div>
    </div>
    <div class="popin-body">
      <form ng-submit="editAddress()" id="form_address" class="form">
        <div class="row">
          <div class="large-6 columns end">
            <label for="company">Entreprise</label>
            <div class="input-wrap">
              <input type="text" ng-model="formData.address.company" id="company" size="45" class="input" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label for="address">Adresse</label>
            <div class="input-wrap">
              <input type="text" ng-model="formData.address.address" id="address" size="45" class="input" />
              <div class="error icon error_address" ng-if="formData.address.errors.address != undefined">
                <span class="tooltip">{{ formData.address.errors.address }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label for="state">Gouvernorat</label>
            <div class="input-wrap">
                <span id="country_region_id">
                  <div class="select-wrap">
                    <select id="state" ng-model="formData.address.state" class="select">
                      <option value="">Sélectionner</option>
                      <option ng-repeat="(key, state) in getCities().states" value="{{ key }}" ng-selected="formData.address.state == key">{{ state }}</option>
                    </select>
                  </div>
                </span>
                <div class="error icon error_state" ng-if="formData.address.errors.state != undefined">
                    <span class="tooltip">{{ formData.address.errors.state }}</span>
                </div>
            </div>
          </div>
          <div class="large-6 columns end">
            <label for="postal_code">Code postal</label>
            <div class="input-wrap">
              <input type="text" ng-model="formData.address.postal_code" id="postal_code" size="45" class="input" />
              <div class="error icon error_postal_code" ng-if="formData.address.errors.postal_code != undefined">
                <span class="tooltip">{{ formData.address.errors.postal_code }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label for="city">Ville</label>
            <div class="input-wrap">
                <span id="city_region_id">
                  <div class="select-wrap">
                    <select id="city" ng-model="formData.address.city" class="select">
                      <option value="">Sélectionner</option>
                      <option ng-repeat="city in getCities().cities[formData.address.state]" value="{{ city }}" ng-selected="formData.address.city == city">{{ city }}</option>
                    </select>
                  </div>
                </span>
                <div class="error icon error_city" ng-if="formData.address.errors.city != undefined">
                  <span class="tooltip">{{ formData.address.errors.city }}</span>
                </div>
            </div>
          </div>

          <div class="large-6 columns">
            <label for="phone">Téléphone</label>
            <div class="input-wrap">
              <input type="text" ng-model="formData.address.phone" id="phone" size="45" class="input" />
              <div class="error icon error_phone" ng-if="formData.address.errors.phone != undefined">
                <span class="tooltip">{{ formData.address.errors.phone }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns end">
            <label for="fax">Mobile</label>
            <div class="input-wrap">
              <input type="text" ng-model="formData.address.fax" id="fax" size="45" class="input" />
              <div class="error icon error_fax" ng-if="formData.address.errors.fax != undefined">
                <span class="tooltip">{{ formData.address.errors.fax }}</span>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="button">Valider</button>
      </form>
    </div>
  </div>
</div>
