<header>
  <div class="container">
    <div class="flex">
			<div class="logo-container flex-item">
        <a ui-sref="home()" id="logo"><img src="assets/img/logo@2x.png" alt="Luxe Decors" /></a>
			</div>
			<div class="phone-container flex-item">
				<a href="tel:58400859" class="phone">
					<span class="symbol"><span class="icon-phone"></span><span class="append">7J/7</span></span>
					<span class="phone_number">{{ mobile }}</span>
				</a>
			</div>
			<div class="widgets-container flex-item">
        <a ng-if="!authenticated" url="#popin-signin-signup" class="popin-open" fancybox>
          <span class="icon-lock"></span>Se connecter / S'inscrire
        </a>
        <a ng-if="authenticated" class="logout" ng-click="logout()">
          <span class="icon-off"></span>Déconnexion </a>
        <a ng-if="authenticated" ui-sref="dashboard()">
          <span class="icon-cog"></span>{{ (currentUser.type == 2 && currentUser.company_name) ? currentUser.company_name : currentUser.first_name + ' ' + currentUser.last_name}}
        </a>
        <a id="cart-link" ui-sref="cart()" ng-class="{highlight: cart.length > 0 , full: cart.length > 0}">
          <span class="icon-shopping-cart">
							<i id="cart_sum">{{ cart.length }}</i>
						</span> Mon panier
        </a>
			</div>
		</div>
  </div>
  <nav role="nav">
    <div class="container">
      <div id="search-box" ng-controller="SearchBoxCtrl" ng-class="{'active': active}">
					<!-- <label ng-click="enableSearch()">Recherche</label> -->
					<div class="search-input-wrap">
					  <input type="text" ng-model="searchForm.s" ng-focus="enableSearch()"  id="search-input" class="input search-input" autocomplete="off" autocorrect="off" autocapitalize="off">
					</div>
					<button id="submit_search" type="submit">Recherche</button>
					<span class="clear-search icon-remove-sign" ng-click="clearSearch()" ng-mousedown="preventBlur = true"></span>
				<ul class="ajax-result" ng-mousedown="preventBlur = true">
          <li>
            <a ui-sref="search({s:searchForm.s})" class="show-all" id="send_search"><i class="icon-th-list"></i> Tous les résultats</a>
            {{ searchForm.ajaxResult.total_products}} résultat(s)
          </li>
          <li ng-repeat="resultItem in searchForm.ajaxResult.product_list">
            <a ui-sref="productDetail({id:resultItem.product_id })">
                <img ng-src="{{ resultItem.image }}" alt="{{ resultItem.title }}">{{ resultItem.product_ref }}
            </a>
          </li>
				</ul>
			</div>
      <div id="categ-btn" ng-class="{active: menuActive}" ng-click="toggleCollapseMenu()">Catégories</div>
      <ul class="main-menu">
        <li><a ui-sref="home()" class="menu-home">Accueil</a></li>
        <li ng-repeat="l0 in menu">
          <a ng-if="!l0.promo" ui-sref="productList({id: l0.id})" ng-class="{parent: l0.submenu !== undefined}">{{ l0.name
                        }}</a>
          <a ng-if="l0.promo" ui-sref="productPromotion({categ: null})" ng-class="{parent: l0.submenu !== undefined}">{{ l0.name
                        }}</a>
          <div ng-if="l0.submenu !== undefined" ng-init="m0 = menuChunk(l0.submenu)">
            <ul ng-repeat="_l1 in m0">
              <li ng-repeat="l1 in _l1">
                <a ng-if="!l1.promo" ui-sref="productList({id: l1.id})" title="" ng-class="{parent: l1.submenu !== undefined}">
                  <img ng-src="{{ l1.img }}" alt="" />{{ l1.name }}</a>
                <a ng-if="l1.promo" ui-sref="productPromotion({categ: l0.id})" title="" ng-class="{parent: l1.submenu !== undefined}">
                  <img ng-src="{{ l1.img }}" alt="" />{{ l1.name }}</a>
                <div ng-if="l1.submenu !== undefined" ng-init="m1 = menuChunk(l1.submenu)">
                  <ul ng-repeat="_l2 in m1">
                    <li ng-repeat="l2 in _l2">
                      <a ui-sref="productList({id: l2.id})" title="" ng-class="{parent: l2.submenu !== undefined}">
                        <img ng-src="{{ l2.img }}" alt="" />{{ l2.name }}</a>
                      <div ng-if="l2.submenu !== undefined" ng-init="m2 = menuChunk(l2.submenu)">
                        <ul ng-repeat="_l3 in m2">
                          <li ng-repeat="l3 in _l3">
                            <a ui-sref="productList({id: l3.id})" title="" ng-class="{parent: l3.submenu !== undefined}">
                              <img ng-src="{{ l3.img }}" alt="" />{{ l3.name }}</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="main-menu collapse" menu ng-class="{active: menuActive}" ng-show="menuActive">
        <li><a ui-sref="home()" class="menu-home">Accueil</a></li>
        <li ng-repeat="l0 in menu">
          <a ng-if="!l0.promo" ui-sref="productList({id: l0.id})" ng-class="{parent: l0.submenu !== undefined}">
            {{ l0.name }} <span ng-if="l0.submenu !== undefined" class="sub" ng-click="navSubCateg($event);"></span>
          </a>
          <a ng-if="l0.promo" ui-sref="productPromotion({categ: null})" ng-class="{parent: l0.submenu !== undefined}">
            {{ l0.name }} <span ng-if="l0.submenu !== undefined" class="sub" ng-click="navSubCateg($event);"></span>
          </a>
          <ul ng-if="l0.submenu !== undefined">
            <li class="sup" ng-click="navSupCateg($event);">{{ l0.name }}</li>
            <li ng-repeat="l1 in l0.submenu">
              <a ng-if="!l1.promo" ui-sref="productList({id: l1.id})" title="" ng-class="{parent: l1.submenu !== undefined}">
                <img ng-src="{{ l1.img }}" alt="" />{{ l1.name }} <span ng-if="l1.submenu !== undefined" class="sub" ng-click="navSubCateg($event);"></span>
              </a>
              <a ng-if="l1.promo" ui-sref="productPromotion({categ: l0.id})" title="" ng-class="{parent: l1.submenu !== undefined}">
                <img ng-src="{{ l1.img }}" alt="" />{{ l1.name }} <span ng-if="l1.submenu !== undefined" class="sub" ng-click="navSubCateg($event);"></span>
              </a>
              <ul ng-if="l1.submenu !== undefined">
                <li class="sup" ng-click="navSupCateg($event);">{{ l1.name }}</li>
                <li ng-repeat="l2 in l1.submenu">
                  <a ui-sref="productList({id: l2.id})" title="" ng-class="{parent: l2.submenu !== undefined}">
                    <img ng-src="{{ l2.img }}" alt="" />{{ l2.name }} <span ng-if="l2.submenu !== undefined" class="sub" ng-click="navSubCateg($event);"></span>
                  </a>
                  <ul ng-if="l2.submenu !== undefined">
                    <li class="sup" ng-click="navSupCateg($event);">{{ l2.name }}</li>
                    <li ng-repeat="l3 in l2.submenu">
                      <a ui-sref="productList({id: l3.id})" title="" ng-class="{parent: l3.submenu !== undefined}">
                        <img ng-src="{{ l3.img }}" alt="" />{{ l3.name }} <span ng-if="l3.submenu !== undefined" class="sub" ng-click="navSubCateg($event);"></span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
