<ion-view title="home" class="slide-left-right">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="home">
      <div id="banner-wrap" class="container">
        <div id="banner" class="royalSlider rsMinW" content="home.banners" rsoptions="rsOptions">
          <div class="rsContent" ng-repeat="banner in home.banners">
            <a ng-click="convertUrlToRoute(banner.id)">
              <img class="rsImg" ng-src="{{ banner.img }}">
              <div class="infoBlock infoBlock-bottomLeft rsABlock" data-fade-effect="" data-move-offset="300" data-move-effect="left" data-speed="600">
                <!-- <h4 style="background-color: rgba(77,74,74, 0.7); color: #ffffff;">Star Wars " le Réveil de la Force "</h4> -->
                <br>
              </div>
            </a>
          </div>
        </div>
        <div ng-include src="'templates/side-box.html'"></div>
      </div>
      <div class="container">
        <div ng-repeat="featuredProduct in home.featuredProducts">
          <section class="featured-products" ng-if="!featuredProduct.halfWidth">
            <div class="header">
              <a ui-sref="productList({id: featuredProduct.id})" class="show-all"><i class="icon-th-list"></i>
              Toute la catégorie</a> {{ featuredProduct.name }}
            </div>
            <div class="products-carousel touchcarousel">
              <ul class="slides touchcarousel-container">
                <li class="touchcarousel-item" ng-repeat="productItem in featuredProduct.products">
                  <div ng-include src="'templates/product-item.html'"></div>
                </li>
              </ul>
            </div>
          </section>
          <div class="row" ng-if="featuredProduct.halfWidth">
            <div class="large-6 columns">
              <section class="featured-products">
                <div class="header">
                  <a ui-sref="productList({id: featuredProduct.id})" class="show-all"><i class="icon-th-list"></i>
                  Toute la catégorie</a> {{ featuredProduct.name }}
                </div>
                <div class="products-carousel touchcarousel">
                  <ul class="slides touchcarousel-container">
                    <li class="touchcarousel-item" ng-repeat="productItem in featuredProduct.products">
                      <div ng-include src="'templates/product-item.html'"></div>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
