<ion-view title="Page">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="page row">
      <main role="main" class="large-9 columns">
        <article class="outline">
          <h1 class="title">Luxe Decors à Telvza TV</h1>
          <div class="content-from-editor">
            <p>&nbsp;</p>
            <div>
              <iframe src="https://www.youtube.com/embed/AD3JuIQkJHY" width="560" height="315" frameborder="0"></iframe>
            </div>
            <p>&nbsp;</p>
            <div>
              <iframe src="https://www.youtube.com/embed/By_zB3UzYtg?list=PLU_0bnOZfVNiQc2Vmt37RhOfsUGx4TEE-" width="560" height="315" frameborder="0"></iframe>
            </div>
            <p>
              <div>
                <iframe src="https://www.youtube.com/embed/FAYEXgTHwBc" width="560" height="315" frameborder="0"></iframe>
              </div>
            </p>
          </div>
        </article>
      </main>
      <div ng-include ng-init="sideboxClass = 'large-3 columns'" src="'templates/side-box.html'"></div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
