<ion-view title="Product Detail">
    <ion-content>
      <ion-refresher
        pulling-text="Tirer pour rafraîchir"
        pulling-icon="ion-ios-arrow-down"
        on-refresh="doRefresh()">
      </ion-refresher>
    	<div ng-include src="'templates/header.html'"></div>
        <div id="page" class="checkout step4 container">
    <nav id="steps-bar">
        <ul>
            <li class="done">Mon panier</li><li class="done">Validation de l’adresse</li><li class="done">Confirmation</li><li class="success">Paiement<!-- <li class="failed">Paiement --></li>
        </ul>
    </nav>
    <main role="main" class="row">
        <div class="twelve columns">
            <!-- Success -->
            <div class="twelve outline padding">
                <h1>Demande de réservation envoyée</h1>
               <p>Cher visiteur,<br />&nbsp;<br />L'&eacute;quipe de&nbsp;<strong>Luxe Decors</strong>&nbsp;vous remercie de votre int&eacute;r&ecirc;t et vous confirme la r&eacute;ception du d&eacute;tail de votre&nbsp;commande.&nbsp;<br />&nbsp;<br />Un conseiller&nbsp;r&eacute;pondra &agrave; votre demande ou prendra contact avec vous&nbsp;dans les plus brefs d&eacute;lais.</p>            </div>
            <div class="main-footer">
                <a class="button" ui-sref="home"><span class="icon-home"></span> Homepage</a>
                <a class="button" ui-sref="dashboard"><span class="icon-th-large"></span> Tableau de bord</a>
            </div>
        </div>
    </main>
</div>	</div>
        <div ng-include src="'templates/footer.html'"></div>
    </ion-content>
</ion-view>
