<ion-view title="Product List">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="product-list container">
      <nav id="sticky-nav-bar">
        <ul id="breadcrumb">
          <li class="filter-btn-wrap" ng-init="sidebarActive = false">
            <button id="filter-btn" ng-class="{ active: sidebarActive}" class="btn" ng-click="sidebarActive = !sidebarActive"><span class="icon-th-list"></span></button>
          </li>
          <li ng-repeat="item in productList.parents">
            <a ui-sref="productList({id: item.categorie_id})" title="">{{ item.categorie_name }}</a>
          </li>
          <li class="active">{{ productList.categorie.categorie_name }}</li>
        </ul>
        <div class="complementary">
          <div id="nb-article"><span>{{ productList.total_product}}</span> articles</div>
        </div>
      </nav>
      <main role="main" ng-class="{ active: sidebarActive}" class="row">
        <nav id="sub-categ-panel">
          <h1 class="header">{{ productList.categorie.categorie_name }}</h1>
          <ul>
            <li>
              <a ng-if="productList.categorie.categorie_id != productList.categ_parent.categorie_id" ui-sref="productList({id: productList.categ_parent.categorie_id})" title="">Tout</a>
              <span ng-if="productList.categorie.categorie_id == productList.categ_parent.categorie_id">Tout</span>
            </li>
            <li ng-repeat="item in productList.children">
              <a ng-if="item.categorie_id != productList.categorie.categorie_id" ui-sref="productList({id: item.categorie_id})" title="">{{ item.categorie_name }}</a>
              <span ng-if="item.categorie_id == productList.categorie.categorie_id">{{ item.categorie_name }}</span>
            </li>
          </ul>
        </nav>
        <ul class="products-grid">
          <li ng-repeat="productItem in productList.product_list">
            <div ng-include src="'templates/product-item.html'"></div>
          </li>
        </ul>
        <div class="load-more">
          <ion-infinite-scroll ng-if="nextPage" on-infinite="loadMore()" distance="30%"></ion-infinite-scroll>
        </div>
      </main>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
