<a class="product-item" ui-sref="productDetail({id: productItem.product_id})" ng-attr-data-promotion="{{ hasPromo(productItem) ? '-'+ productItem.promotion + '%' : undefined }}">
  <img ng-src="{{ productItem.image }}" alt="{{ productItem.title }}" />
  <span class="overlay icon-search"></span>
  <div class="product-info">
    <span class="price" ng-attr-data-original-price="{{ hasPromo(productItem) ? productItem.price + ' DT' : undefined }} ">{{ hasPromo(productItem) ? (productItem.price * (100 - productItem.promotion) / 100) :  productItem.price }} DT</span>
    <span class="product-title">{{ productItem.title }}</span>
  </div>
</a>
