<ion-view title="Product Detail">
    <ion-content>
      <ion-refresher
        pulling-text="Tirer pour rafraîchir"
        pulling-icon="ion-ios-arrow-down"
        on-refresh="doRefresh()">
      </ion-refresher>
        <div ng-include src="'templates/header.html'"></div>
        <div id="page" class="product container">
            <nav id="sticky-nav-bar">
                <a ng-click="goBack()" id="return-btn" class="btn icon-caret-left">Retour</a>
                <ul id="breadcrumb" class="compact">
                    <li ng-repeat="item in productDetail.parents">
                        <a ui-sref="productList({id: item.categorie_id})" title="">{{ item.categorie_name }}</a>
                    </li>
                    <li>
                      <a ui-sref="productList({id: productDetail.categorie.categorie_id})" title="">{{ productDetail.categorie.categorie_name }}</a>
                    </li>
                </ul>
            </nav>
            <main role="main" class="row">
                <div class="large-5 columns full-width">
                    <div class="title-ref-copy">
                        <h1>{{ productDetail.product.title }}</h1>
                        <span class="ref">{{ productDetail.product.product_ref }}</span>
                    </div>
                    <div id="gallery-wrap">
                        <div id="gallery" class="royalSlider {{ productDetail.galerie.length ? 'rsMinW' : 'compact' }}"
                             ng-attr-data-promotion="{{ promotion > 0 ? '-'+ productDetail.product.promotion + '%' : undefined }}" content="productDetail.product.image" rsoptions="rsOptions">
                            <a class="rsImg" data-rsbigimg="{{ productDetail.product.image }}" href="{{ thumb(productDetail.product.image, '_thumb') }}">
                                <img ng-if="productDetail.galerie.length" class="rsTmb" ng-src="{{ thumb(productDetail.product.image, '_thumb2') }}">
                            </a>
                            <a ng-repeat="item in productDetail.galerie" class="rsImg" data-rsbigimg="{{ item.image }}"
                               href="{{ thumb(item.image, '_thumb') }}">
                                <img class="rsTmb" ng-src="{{ thumb(item.image, '_thumb2') }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="large-7 columns">
                    <div class="row">
                        <div class="large-7 columns">
                            <article id="product-details" class="outline">
                                <h1>{{ productDetail.product.title }}</h1>
                                <span class="ref">{{ productDetail.product.product_ref }}</span>
                                <p ng-if="productDetail.product.description" class="description">{{ productDetail.product.description }}</p>
                                <div ng-repeat="item in productDetail.product_attr" ng-if="productDetail.attr_list[item.attribut_id].type == 'text'" class="attribute">{{ productDetail.attr_list[item.attribut_id].text }}: {{ item.content }}</div>
                            </article>
                        </div>
                        <div class="large-5 columns">
                            <div id="control-box" class="outline">
                                <div class="action">
                                    <span id="price"
                                        ng-attr-data-original-price="{{ promotion ? productDetail.product.price + ' DT' : undefined }}"
                                        ng-attr-data-until="{{ promotion ? 'Cette offre prend fin dans ' + productDetail.product.timeleft : undefined }}"
                                    >{{ promotion > 0 ? (parseFloat(productDetail.product.price) * (100 - parseInt(productDetail.product.promotion))/100) : productDetail.product.price }} DT
                                  </span>
                                    <div ng-if="authenticated && (currentUser.type == 2)" class="availability" id="available_prod" ng-show="productDetail.product.stocked >= quantity" data-stock="{{ productDetail.product.stocked }}">Disponible en stock</div>
                                    <div ng-if="!authenticated || currentUser.type != 2" class="availability" id="available_prod" ng-show="productDetail.product.stocked >= quantity">Disponible en stock</div>
                                    <div class="availability unavailable" id="unavailable_prod" ng-show="productDetail.product.stocked < quantity">Vérifiez au magasin</div>
                                    <div>
                                        <div id="quantity">
                                            <span>
                                                <input type="text" id="input-quantity" maxlength="2" ng-model="quantity" readonly>
                                                <button class="quantity-btn plus" ng-click="increment()"><span
                                                        class="icon-plus"></span></button>
                                                <button class="quantity-btn minus"
                                                        ng-click="decrement()"><span
                                                        class="icon-minus"></span></button>
                                            </span>
                                        </div>
                                        <div id="lam_en_bloc" style="margin:5px;" ng-show="false">
                                            <div class="select-wrap">
                                                <select class="select" id="type_pict">
                                                    <option value="0">Sans personnalisation</option>
                                                    <option value="laminage">Avec laminage</option>
                                                    <option value="encadrement">Avec encadrement</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button id="add_to_cart" class="ajax-link button"
                                                ng-class="{ disabled: productDetail.product.stocked < quantity}"
                                                ng-disabled="productDetail.product.stocked < quantity" ng-click="addToCart()">
                                            <span class="icon-shopping-cart"></span> Ajouter au panier
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul id="pictograms">
                        <li ng-repeat="pictogramme in productDetail.product_pictogramme">
                            <div class="picto-wrap">
                                <span class="picto"><img ng-src="{{ productDetail.pictogramme_list[pictogramme.pictogramme_id].thumb }}" alt="{{ productDetail.pictogramme_list[pictogramme.pictogramme_id].text }}"></span>
                                <p class="name">{{ productDetail.pictogramme_list[pictogramme.pictogramme_id].text }}</p>
                                <span class="tooltip">
                                  <p ng-if="pictogramme.pictogramme_id == 14 || pictogramme.pictogramme_id == 15 || pictogramme.pictogramme_id == 16"><img src="http://luxedecors.com.tn/uploads/cache/8_1020_360_90.png" alt="Laminage ou Encadrement" width="510" height="180" /></p>
                                  {{ (pictogramme.pictogramme_id == 14 || pictogramme.pictogramme_id == 15 || pictogramme.pictogramme_id == 16) ? undefined : productDetail.pictogramme_list[pictogramme.pictogramme_id].description }}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <aside class="row">
                <div ng-if="productDetail.affiliates_product.length" class="large-6 columns">
                    <section class="featured-products">
                        <div class="header">
                            <span class="icon-thumbs-up"></span>
                            Produits recommandés
                        </div>
                        <div class="products-carousel touchcarousel">
                            <ul class="slides touchcarousel-container">
                                <li ng-repeat="productItem in productDetail.affiliates_product" class="touchcarousel-item">
                                  <div ng-include src="'templates/product-item.html'"></div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div ng-class="{'large-12': productDetail.affiliates_product.length == 0, 'large-6': productDetail.affiliates_product.length > 0, 'columns': true}">
                    <section class="featured-products">
                        <div class="header">
                            <span class="icon-adjust"></span>
                            Produits similaires
                        </div>
                        <div class="products-carousel touchcarousel">
                            <ul class="slides touchcarousel-container">
                                <li ng-repeat="productItem in productDetail.random_product" class="touchcarousel-item">
                                  <div ng-include src="'templates/product-item.html'"></div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </aside>
        </div>
        <div ng-include src="'templates/footer.html'"></div>
    </ion-content>
</ion-view>
