<ion-view title="Search">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="search-result container">
      <nav id="sticky-nav-bar">
        <ul id="breadcrumb" class="compact">
          <li><a>Résultat(s) de recherche</a></li>
        </ul>
        <div class="complementary">
          <div id="nb-article"><span>{{ productList.total_products}}</span> articles</div>
        </div>
      </nav>
      <main role="main" class="row">
        <ul class="products-grid" ng-if="productList.product_list.length > 0">
          <li ng-repeat="productItem in productList.product_list">
            <div ng-include src="'templates/product-item.html'"></div>
          </li>
        </ul>
        <div class="load-more">
          <ion-infinite-scroll ng-if="nextPage" on-infinite="loadMore()" distance="30%"></ion-infinite-scroll>
        </div>
        <div id="no-result" ng-if="productList.product_list.length == 0">
          <span class="icon-warning-sign"></span> Aucun article trouvé pour « <strong>{{ s }}</strong> »
          <br> Essayez une nouvelle recherche ou parcourez les catégories.
        </div>
      </main>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
