<ion-view title="Page">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="localization">
      <div class="row">
        <div class="large-12 columns">
          <main role="main" class="outline">
            <h1 class="title">Trouver un magasin</h1>
            <div id="localisation_panel">
              <form id="localization_form" action="#" method="post">
                <label for="searchStore">Veuillez saisir votre adresse ou votre ville</label>
                <div class="row">
                  <div class="large-6 columns">
                    <div class="input-wrap">
                      <input id="searchStore" class="input" type="text" />
                      <span id="reset"><i class="icon-remove"></i></span>
                    </div>
                  </div>
                  <div class="large-6 columns">
                    <button class="submit button">Valider</button>
                  </div>
                </div>
              </form>
            </div>
          </main>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <div id="localisation_result" class="outline">
            <span id="localisation_msg">
                    <span class="title">Conseils pour la recherche:</span> -Tapez une adresse.
            <br /> ex. Avenue de la république, Tunis
            <br />- Tapez le nom d'un gouvernorat.
            <br />ex. Tunis, Sousse ou Sfax.
            <br />- Tapez le nom d'une cité.
            <br />ex. El Mourouj ou Sahloul. </span>
          </div>
        </div>
        <div class="large-8 columns">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
