<ion-view title="Page">
  <ion-content>
    <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      pulling-icon="ion-ios-arrow-down"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-include src="'templates/header.html'"></div>
    <div id="page" class="page row">
      <main role="main" class="large-9 columns">
        <article class="outline">
          <h1 class="title">Conditions générales de vente</h1>
			<div class="content-from-editor">
            	<p>L&rsquo;acc&egrave;s aux ventes sur le site&nbsp;<a href="https://www.luxedecors.com.tn/">www.luxedecors.com.tn</a>&nbsp;est &eacute;dit&eacute; par la Soci&eacute;t&eacute; LUXE DECORS implique sans r&eacute;serve l&rsquo;acceptation des dispositions suivantes :</p>
<p><strong>Article 1 &ndash; La Soci&eacute;t&eacute;</strong></p>
<p>LUXE DECORS , Soci&eacute;t&eacute; Sarl de droit Tunisien, au capital de 200 000 DT dont le si&egrave;ge est situ&eacute; &agrave; l'Avenue Mongi Grira Sahloul 4 - 4054 Sousse &ndash; Tunisie, titulaire du Matricule Fiscal N&deg;1172184 LPM 000 (ci-apr&egrave;s d&eacute;nomm&eacute;e la &laquo; Soci&eacute;t&eacute; &raquo;) propose un service de vente en ligne de produits (ci-apr&egrave;s les &laquo;Produits &raquo;), par le biais du site Internet&nbsp;<a href="https://www.luxedecors.com.tn/">www.luxedecors.com.tn</a>&nbsp;(ci-apr&egrave;s le &laquo; Site Internet &raquo;).</p>
<p>Les prix, descriptifs techniques, photographies et r&eacute;f&eacute;rences des Produits mis en vente par la Soci&eacute;t&eacute; figurent sur le site de la Soci&eacute;t&eacute;.</p>
<p><strong>Article 2 - Adh&eacute;sion aux pr&eacute;sentes conditions g&eacute;n&eacute;rales</strong></p>
<p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales de vente sont affich&eacute;es sur le Site Internet o&ugrave; elles sont librement accessibles et d&eacute;finissent les droits et obligations des parties &agrave; une vente de Produits par la Soci&eacute;t&eacute; aux Acheteurs (tel que ce terme est d&eacute;fini ci-dessous) &agrave; travers le Site Internet.</p>
<p>Dans le cadre d&eacute;crit &agrave; l&rsquo;alin&eacute;a pr&eacute;c&eacute;dent, les Produits sont vendus en quantit&eacute; limit&eacute;e et propos&eacute;s aux Acheteurs (tel que ce terme est d&eacute;fini ci-dessous) jusqu&rsquo;&agrave; &eacute;puisement du stock.</p>
<p>Chaque personne physique, majeure et capable, s&rsquo;&eacute;tant inscrite de son plein gr&eacute;, souhaitant b&eacute;n&eacute;ficier des services de la Soci&eacute;t&eacute; et qui satisfera aux pr&eacute;sentes conditions g&eacute;n&eacute;rales sera ci-apr&egrave;s d&eacute;nomm&eacute;e &laquo; l&rsquo;Acheteur &raquo;. Chaque acquisition d&rsquo;un Produit effectu&eacute;e par un Acheteur sur le Site Internet dans les conditions pr&eacute;vues dans les pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente sera ci-apr&egrave;s d&eacute;nomm&eacute;e &laquo;Commande &raquo;.</p>
<p>Toute Commande effectu&eacute;e sur le Site Internet est r&eacute;gie par les pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente dont l&rsquo;Acheteur d&eacute;clare en avoir pris connaissance et accept&eacute; les droits et obligations y aff&eacute;rents.</p>
<p><strong>Article 3 - Droit applicable</strong></p>
<p>Le droit applicable aux pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente est le droit tunisien.</p>
<p><strong>Article 4 &ndash; Modalit&eacute;s de Commande et prix</strong></p>
<p>4.1. L&rsquo;Acheteur a la possibilit&eacute; de commander par le biais du Site Internet &agrave; l&rsquo;adresse internet suivante :&nbsp;<a href="https://www.luxedecors.com.tn/">https://www.luxedecors.com.tn</a></p>
<p>4.2. L&rsquo;Acheteur garantit qu&rsquo;il est pleinement habilit&eacute; &agrave; utiliser sa carte bancaire, carte e-dinar ou tout autre moyen de paiement pr&eacute;vu par le Site Internet pour le r&egrave;glement de sa Commande et que ces moyens de paiement donnent acc&egrave;s &agrave; des fonds suffisants pour couvrir tous les co&ucirc;ts r&eacute;sultant de ladite Commande.</p>
<p>4.3. En cliquant sur le bouton &laquo; Proc&eacute;der au paiement &raquo; pendant le processus de Commande, et apr&egrave;s avoir v&eacute;rifi&eacute; dans son &laquo; Panier &raquo; le contenu de sa Commande et, le cas &eacute;ch&eacute;ant, de l&rsquo;avoir modifi&eacute;e, l&rsquo;Acheteur d&eacute;clare accepter pleinement et sans r&eacute;serve l&rsquo;int&eacute;gralit&eacute; des pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente.</p>
<p>Apr&egrave;s avoir confirm&eacute; le contenu de sa Commande, l&rsquo;Acheteur la validera d&eacute;finitivement par le paiement du prix correspondant &agrave; sa Commande. La Commande ne sera d&eacute;finitive qu&rsquo;&agrave; compter du paiement effectif du prix correspondant.</p>
<p>La Soci&eacute;t&eacute; confirmera syst&eacute;matiquement &agrave; l&rsquo;Acheteur sa Commande, ainsi que l&rsquo;exp&eacute;dition subs&eacute;quente de celle-ci, par envoi d&rsquo;un courrier &eacute;lectronique.</p>
<p>Ledit courrier &eacute;lectronique confirmant la Commande ne vaudra que comme accus&eacute; de r&eacute;ception de la Commande de l&rsquo;Acheteur par la Soci&eacute;t&eacute; et ne pr&eacute;jugera pas de la disponibilit&eacute; du Produit ainsi command&eacute;.</p>
<p>En cas de rupture de stock, la Soci&eacute;t&eacute; prendra contact avec l&rsquo;Acheteur, dans un d&eacute;lai de 10 jours ouvrables &agrave; compter de la cl&ocirc;ture de la vente, pour lui proposer, ce que l&rsquo;Acheteur accepte d'ores et d&eacute;j&agrave;, soit un nouveau d&eacute;lai de r&eacute;ception du Produit, soit un Produit de remplacement, soit l'annulation et le remboursement de sa Commande.</p>
<p>4.4. Le prix toutes taxes comprises de chaque produit est indiqu&eacute; dans la fiche Produit correspondante. Les frais d&rsquo;exp&eacute;dition de la Commande de l&rsquo;Acheteur lui seront indiqu&eacute;s avant la validation d&eacute;finitive de celle-ci.</p>
<p>4.5. &Agrave; c&ocirc;t&eacute; du Produit le prix de vente est toujours affich&eacute; correspondant au prix public de vente conseill&eacute; par nos experts.</p>
<p>4.6. Le non-respect par l&rsquo;Acheteur des obligations souscrites aux termes des pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente, et notamment en cas d&rsquo;incident de paiement du prix d&rsquo;une Commande, pourra entra&icirc;ner la suspension de l&rsquo;acc&egrave;s au service de vente en ligne disponible sur le Site Internet, voire la r&eacute;siliation du Compte de l&rsquo;Acheteur en fonction du degr&eacute; de gravit&eacute; des agissements en cause et &agrave; la libre discr&eacute;tion de la Soci&eacute;t&eacute;, sans pr&eacute;judice de tous dommages et int&eacute;r&ecirc;ts que pourrait solliciter la Soci&eacute;t&eacute;. En cons&eacute;quence, la Soci&eacute;t&eacute; se r&eacute;serve le droit de refuser toute Commande d&rsquo;un Acheteur avec lequel existerait un tel litige.</p>
<p><strong>Article 5 - Conformit&eacute; des Produits</strong></p>
<p>5.1. Les renseignements mentionn&eacute;s sur chaque fiche-produit, sont ceux communiqu&eacute;s &agrave; la Soci&eacute;t&eacute; par les fournisseurs aupr&egrave;s desquels les Produits sont acquis.</p>
<p>La Soci&eacute;t&eacute; fera de son mieux pour que les photos repr&eacute;sentatives des Produit sur le Site Internet soit les plus fid&egrave;les possible aux Produit effectifs. Toutefois, il est possible que la perception par l&rsquo;Acheteur de la photographie du Produit ne corresponde pas parfaitement au produit effectif.</p>
<p>5.2. En cas de non-conformit&eacute; du produit livr&eacute; &agrave; l&rsquo;Acheteur, celui-ci pourra le retourner &agrave; la Soci&eacute;t&eacute; et ce, dans le cadre des retours autoris&eacute;s lors de la vente. L&rsquo;Acheteur pourra alors demander &agrave; la Soci&eacute;t&eacute; :</p>
<p>- Soit d&rsquo;&ecirc;tre livr&eacute; d&rsquo;un Produit identique &agrave; celui command&eacute;, dans la limite des stocks disponibles,</p>
<p>- Soit d&rsquo;&ecirc;tre rembours&eacute; du prix du Produit command&eacute; dans les 30 jours suivant la demande de l&rsquo;Acheteur.</p>
<p>Les frais de retour du produit command&eacute; et livr&eacute; &agrave; l&rsquo;Acheteur, ainsi que l&rsquo;&eacute;ventuelle livraison d&rsquo;un autre produit seront support&eacute;s par la Soci&eacute;t&eacute;.</p>
<p>5.3. Garantie contractuelle</p>
<p>Les garanties &eacute;ventuellement attach&eacute;es aux Produits sont d&eacute;crites sur les fiches Produits du Site Internet et correspondent aux garanties accord&eacute;es par les Fournisseurs desdits Produits. La Soci&eacute;t&eacute; ne peut &ecirc;tre engag&eacute;e d&rsquo;aucune fa&ccedil;on que ce soit dans les garanties assum&eacute;es par les Fournisseurs.</p>
<p>5.4 Indisponibilit&eacute; du Produit command&eacute;</p>
<p>Conform&eacute;ment &agrave; l&rsquo;article 35 de la loi n&deg;200-83 du 9 ao&ucirc;t 2000, relative aux &eacute;changes et au commerce &eacute;lectronique, dans le cas d'une indisponibilit&eacute; du Produit command&eacute;, la Soci&eacute;t&eacute; en informera l&rsquo;Acheteur dans un d&eacute;lai maximum de 48 heures avant la date de livraison pr&eacute;vue lors de l&rsquo;achat et remboursera l'int&eacute;gralit&eacute; de la somme pay&eacute;e &agrave; l&rsquo;Acheteur en question.</p>
<p>Sauf en cas de force majeure, la Commande du Produit est r&eacute;sili&eacute;e si la Soci&eacute;t&eacute; enfreint &agrave; ses engagements et l&rsquo;Acheteur r&eacute;cup&egrave;rera les sommes pay&eacute;es sans pr&eacute;judice des dommages et int&eacute;r&ecirc;ts.</p>
<p><strong>Article 6 &ndash; Droit de r&eacute;tractation</strong></p>
<p>6.1. Les cas de r&eacute;tractation</p>
<p>Concernant les Produits commercialis&eacute;s sur le Site Internet, l&rsquo;Acheteur b&eacute;n&eacute;ficie du droit de se r&eacute;tracter et de renvoyer son (ses) Produit(s) dans un d&eacute;lai de dix (10) jours calendaires &agrave; compter de la date de r&eacute;ception par l&rsquo;Acheteur de sa Commande, conform&eacute;ment &agrave; l&rsquo;article 30 de la loi n&deg;2000-83 du 9 ao&ucirc;t 2000, relative aux &eacute;changes et au commerce &eacute;lectronique.</p>
<p>L&rsquo;Acheteur exercera son droit de r&eacute;tractation en envoyant dans le d&eacute;lai indiqu&eacute; ci-dessus un courrier &eacute;lectronique &agrave; l&rsquo;adresse &eacute;lectronique suivante :&nbsp;<script type="text/javascript">
	//<![CDATA[
	var l=new Array();
	l[0]='>';l[1]='a';l[2]='/';l[3]='<';l[4]='|110';l[5]='|116';l[6]='|46';l[7]='|109';l[8]='|111';l[9]='|99';l[10]='|64';l[11]='|116';l[12]='|99';l[13]='|97';l[14]='|116';l[15]='|110';l[16]='|111';l[17]='|99';l[18]='>';l[19]=' ';l[20]='"';l[21]='|110';l[22]='|116';l[23]='|46';l[24]='|109';l[25]='|111';l[26]='|99';l[27]='|64';l[28]='|116';l[29]='|99';l[30]='|97';l[31]='|116';l[32]='|110';l[33]='|111';l[34]='|99';l[35]=':';l[36]='o';l[37]='t';l[38]='l';l[39]='i';l[40]='a';l[41]='m';l[42]='"';l[43]='=';l[44]='f';l[45]='e';l[46]='r';l[47]='h';l[48]=' ';l[49]='a';l[50]='<';
	for (var i = l.length-1; i >= 0; i=i-1){
	if (l[i].substring(0, 1) == '|') document.write("&#"+unescape(l[i].substring(1))+";");
	else document.write(unescape(l[i]));}
	//]]>
	</script></p>
<p>Sous r&eacute;serve des dispositions de l'article 30 de la m&ecirc;me loi et &agrave; l'exception des vices apparents ou cach&eacute;s, l&rsquo;Acheteur ne peut pas se r&eacute;tracter dans les cas suivants :</p>
<p>- Si l&rsquo;Acheteur re&ccedil;oit des produits confectionn&eacute;s selon des caract&eacute;ristiques personnalis&eacute;es ou des produits qui ne peuvent &ecirc;tre r&eacute;exp&eacute;di&eacute;s ou sont susceptibles d'&ecirc;tre d&eacute;t&eacute;rior&eacute;s ou p&eacute;rim&eacute;s &agrave; cause de l'expiration des d&eacute;lais de validit&eacute;,</p>
<p>- Lorsque l&rsquo;Acheteur descelle les enregistrements audio ou vid&eacute;o ou les logiciels informatiques livr&eacute;s ou t&eacute;l&eacute;charg&eacute;s,</p>
<p>- L'achat de journaux et magazines.</p>
<p>6.2. Modalit&eacute;s de r&eacute;tractation</p>
<p>L&rsquo;Acheteur exercera son droit de r&eacute;tractation de la mani&egrave;re suivante :</p>
<p>- indiquer son intention par le biais d&rsquo;un courrier &eacute;lectronique pr&eacute;alable &agrave; envoyer &agrave; l&rsquo;adresse &eacute;lectronique suivante :&nbsp;<script type="text/javascript">
	//<![CDATA[
	var l=new Array();
	l[0]='>';l[1]='a';l[2]='/';l[3]='<';l[4]='|110';l[5]='|116';l[6]='|46';l[7]='|109';l[8]='|111';l[9]='|99';l[10]='|64';l[11]='|116';l[12]='|99';l[13]='|97';l[14]='|116';l[15]='|110';l[16]='|111';l[17]='|99';l[18]='>';l[19]=' ';l[20]='"';l[21]='|110';l[22]='|116';l[23]='|46';l[24]='|109';l[25]='|111';l[26]='|99';l[27]='|64';l[28]='|116';l[29]='|99';l[30]='|97';l[31]='|116';l[32]='|110';l[33]='|111';l[34]='|99';l[35]=':';l[36]='o';l[37]='t';l[38]='l';l[39]='i';l[40]='a';l[41]='m';l[42]='"';l[43]='=';l[44]='f';l[45]='e';l[46]='r';l[47]='h';l[48]=' ';l[49]='a';l[50]='<';
	for (var i = l.length-1; i >= 0; i=i-1){
	if (l[i].substring(0, 1) == '|') document.write("&#"+unescape(l[i].substring(1))+";");
	else document.write(unescape(l[i]));}
	//]]>
	</script></p>
<p>- renvoyer le Produit en question &agrave; ses frais &agrave; l&rsquo;adresse commerciale de la Soci&eacute;t&eacute; : Avenue Mongi Grira Sahloul 4 - 4054 Sousse &ndash; Tunisie</p>
<p>Dans ce cas, la Soci&eacute;t&eacute; s&rsquo;engage &agrave; rembourser le montant pay&eacute; par l&rsquo;Acheteur dans les dix jours ouvrables &agrave; compter de la date de retour des produits. Les frais de retour des produits &eacute;tant &agrave; la charge de l&rsquo;Acheteur.</p>
<p>Le retour de l'ensemble des produits ou services command&eacute;s donnera lieu &agrave; un remboursement &eacute;gal &agrave; la totalit&eacute; des sommes vers&eacute;es par l&rsquo;Acheteur, c'est &agrave; dire au prix d&rsquo;achat du ou des Produit(s) achet&eacute;(s) et aux frais y aff&eacute;rant.</p>
<p>Dans le cas o&ugrave; l&rsquo;achat par l&rsquo;Acheteur d&rsquo;un Produit sur le Site Internet a &eacute;t&eacute; fait par le biais de bons d'achat sur le site offert par la Soci&eacute;t&eacute; ou par l'un de ses partenaires, la r&eacute;tractation de l&rsquo;Acheteur entra&icirc;ne la r&eacute;siliation, sans p&eacute;nalit&eacute;, des bons d&rsquo;achats.</p>
<p>6.3. Modalit&eacute;s de renvoi de Produit par l&rsquo;Acheteur</p>
<p>Pour pouvoir b&eacute;n&eacute;ficier pleinement des conditions de l&rsquo;article 5 &laquo; Conformit&eacute; &raquo; et de celles de l&rsquo;article 7 &laquo; Droit de R&eacute;traction &raquo; des pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente, l&rsquo;Acheteur doit retourner le produit &agrave; la Soci&eacute;t&eacute; selon la proc&eacute;dure suivante :</p>
<p>- Informer de la demande de retour via un courrier &eacute;lectronique envoy&eacute; &agrave; l&rsquo;adresse &eacute;lectronique suivante :&nbsp;<script type="text/javascript">
	//<![CDATA[
	var l=new Array();
	l[0]='>';l[1]='a';l[2]='/';l[3]='<';l[4]='|110';l[5]='|116';l[6]='|46';l[7]='|115';l[8]='|114';l[9]='|117';l[10]='|101';l[11]='|115';l[12]='|115';l[13]='|105';l[14]='|110';l[15]='|114';l[16]='|117';l[17]='|111';l[18]='|102';l[19]='|64';l[20]='|116';l[21]='|99';l[22]='|97';l[23]='|116';l[24]='|110';l[25]='|111';l[26]='|99';l[27]='>';l[28]=' ';l[29]='"';l[30]='|110';l[31]='|116';l[32]='|46';l[33]='|115';l[34]='|114';l[35]='|117';l[36]='|101';l[37]='|115';l[38]='|115';l[39]='|105';l[40]='|110';l[41]='|114';l[42]='|117';l[43]='|111';l[44]='|102';l[45]='|64';l[46]='|116';l[47]='|99';l[48]='|97';l[49]='|116';l[50]='|110';l[51]='|111';l[52]='|99';l[53]=':';l[54]='o';l[55]='t';l[56]='l';l[57]='i';l[58]='a';l[59]='m';l[60]='"';l[61]='=';l[62]='f';l[63]='e';l[64]='r';l[65]='h';l[66]=' ';l[67]='a';l[68]='<';
	for (var i = l.length-1; i >= 0; i=i-1){
	if (l[i].substring(0, 1) == '|') document.write("&#"+unescape(l[i].substring(1))+";");
	else document.write(unescape(l[i]));}
	//]]>
	</script>, puis,</p>
<p>- Renvoyer le Produit &agrave; l&rsquo;adresse commerciale de la Soci&eacute;t&eacute; telle qu&rsquo;indiqu&eacute;e dans les pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente.</p>
<p>Le Produit devra &ecirc;tre correctement prot&eacute;g&eacute;, dans son emballage d&rsquo;origine, dans un parfait &eacute;tat de revente (non ab&icirc;m&eacute;, endommag&eacute; ou sali) accompagn&eacute; de tous accessoires &eacute;ventuels, notices d&rsquo;emploi et documentations.</p>
<p>Le Produit ne devra pas avoir manifestement fait l&rsquo;objet d&rsquo;un usage durable (au-del&agrave; de quelques minutes), c'est &agrave; dire que les Produits ne portent pas la marque d&rsquo;une utilisation prolong&eacute;e d&eacute;passant le temps n&eacute;cessaire &agrave; leur test et soient dans un &eacute;tat permettant leur revente.</p>
<p>Le retour du Produit devra &ecirc;tre accompagn&eacute; de la facture de vente de fa&ccedil;on &agrave; permettre &agrave; cette derni&egrave;re d&rsquo;identifier l&rsquo;Acheteur et sa Commande (n&deg; commande, nom, pr&eacute;nom, adresse).</p>
<p><strong>Article 7 &ndash; Paiement</strong></p>
<p>Le paiement des achats s&rsquo;effectue au moyen d&rsquo;une carte de paiement bancaire ou &eacute;lectronique lors de la Commande, ou par tout autre moyen au moment de la livraison de la Commande.</p>
<p>Le montant des achats sera imm&eacute;diatement d&eacute;bit&eacute; du compte bancaire ou postal de l&rsquo;Acheteur. La Commande sera consid&eacute;r&eacute;e comme effective apr&egrave;s confirmation du paiement par le serveur de paiement.</p>
<p>Conform&eacute;ment &agrave; la r&eacute;glementation en vigueur et pour assurer la s&eacute;curit&eacute; et la confidentialit&eacute; de leurs informations, la Soci&eacute;t&eacute; ne m&eacute;morise pas les informations bancaires des Acheteurs.</p>
<p>Il appartient ainsi &agrave; l&rsquo;Acheteur d&rsquo;enregistrer et d&rsquo;imprimer son certificat de paiement s'il souhaite conserver ses d&eacute;tails bancaires relatives &agrave; la transaction.</p>
<p><strong>Article 8 &ndash; S&eacute;curisation des paiements</strong></p>
<p>Le Site Internet fait appel &agrave; l'un des syst&egrave;mes de s&eacute;curisation les plus performants &agrave; l&rsquo;heure actuelle. Il a non seulement adopt&eacute; le proc&eacute;d&eacute; de cryptage SSL (Secure Socket Layer) mais &eacute;galement renforc&eacute; l&rsquo;ensemble des proc&eacute;d&eacute;s de brouillage et de cryptage afin de prot&eacute;ger le plus efficacement possible toutes les donn&eacute;es sensibles li&eacute;es aux moyens de paiement. La Soci&eacute;t&eacute; n&rsquo;a jamais acc&egrave;s aux informations confidentielles relatives aux moyens de paiement.</p>
<p><strong>Article 9 &ndash; Service Client</strong></p>
<p>Le Service Client de la Soci&eacute;t&eacute; est disponible par courrier &eacute;lectronique &agrave; l'adresse &eacute;lectronique suivante : <script type="text/javascript">
	//<![CDATA[
	var l=new Array();
	l[0]='>';l[1]='a';l[2]='/';l[3]='<';l[4]='|110';l[5]='|116';l[6]='|46';l[7]='|115';l[8]='|114';l[9]='|117';l[10]='|101';l[11]='|115';l[12]='|115';l[13]='|105';l[14]='|110';l[15]='|114';l[16]='|117';l[17]='|111';l[18]='|102';l[19]='|64';l[20]='|116';l[21]='|99';l[22]='|97';l[23]='|116';l[24]='|110';l[25]='|111';l[26]='|99';l[27]='>';l[28]=' ';l[29]='"';l[30]='|110';l[31]='|116';l[32]='|46';l[33]='|115';l[34]='|114';l[35]='|117';l[36]='|101';l[37]='|115';l[38]='|115';l[39]='|105';l[40]='|110';l[41]='|114';l[42]='|117';l[43]='|111';l[44]='|102';l[45]='|64';l[46]='|116';l[47]='|99';l[48]='|97';l[49]='|116';l[50]='|110';l[51]='|111';l[52]='|99';l[53]=':';l[54]='o';l[55]='t';l[56]='l';l[57]='i';l[58]='a';l[59]='m';l[60]='"';l[61]='=';l[62]='f';l[63]='e';l[64]='r';l[65]='h';l[66]=' ';l[67]='a';l[68]='<';
	for (var i = l.length-1; i >= 0; i=i-1){
	if (l[i].substring(0, 1) == '|') document.write("&#"+unescape(l[i].substring(1))+";");
	else document.write(unescape(l[i]));}
	//]]>
	</script>, ou par voie postale &agrave; l'adresse suivante :</p>
<p>Soci&eacute;t&eacute; &laquo; LUXE DECORS &raquo;</p>
<p>&laquo; Service Clients &raquo;,</p>
<p>Avenue Mongi Grira Sahloul 4 - 4054 Sousse &ndash; Tunisie</p>
<p><strong>Article 10 &ndash; Livraison</strong></p>
<p>10.1. Lieu de livraison</p>
<p>Les Produits seront envoy&eacute;s &agrave; l&rsquo;adresse de livraison que l&rsquo;Acheteur aura indiqu&eacute;e au cours du processus de Commande.</p>
<p>L&rsquo;Acheteur doit d&eacute;finir le lieu de livraison de sa commande : &agrave; domicile, au bureau, chez une tierce personne, sur le lieu de vacances, etc.</p>
<p>En cas d&rsquo;absence lors de la livraison de la Commande &agrave; l&rsquo;adresse indiqu&eacute;e par l&rsquo;Acheteur, un avis de passage est g&eacute;n&eacute;ralement d&eacute;pos&eacute; dans la bo&icirc;te aux lettres correspondante&nbsp;: il est alors possible &agrave; l'Acheteur de retirer sa Commande dans les locaux de la soci&eacute;t&eacute; &laquo; LUXE DECORS &raquo; dans un d&eacute;lai de 15 jours suivant le d&eacute;p&ocirc;t de cet avis. Au terme de ce d&eacute;lai, et si l&rsquo;Acheteur n&rsquo;a toujours pas r&eacute;cup&eacute;r&eacute; son colis, la Soci&eacute;t&eacute; et le service client de la Soci&eacute;t&eacute; prendra alors contact avec l&rsquo;Acheteur pour une &eacute;ventuelle r&eacute;exp&eacute;dition &agrave; ses frais. Le cas &eacute;ch&eacute;ant, l&rsquo;Acheteur sera directement contact&eacute; par t&eacute;l&eacute;phone et email afin de programmer une autre livraison.</p>
<p>10.2. D&eacute;lai de livraison</p>
<p>Le d&eacute;lai de livraison maximal est de 7 jours ouvr&eacute;s &agrave; compter de la Commande du Produit, sauf stipulation particuli&egrave;re indiqu&eacute;e &agrave; l&rsquo;Acheteur avant la passation de la Commande ainsi que pr&eacute;alablement &agrave; la validation d&eacute;finitive de celle-ci. Dans ce cas, la Soci&eacute;t&eacute; indiquera &agrave; l&rsquo;Acheteur une fourchette estimative de la date de livraison.</p>
<p>Ce d&eacute;lai sera rappel&eacute; dans le r&eacute;capitulatif de la Commande.</p>
<p>10.3. Retard ou absence de livraison</p>
<p>En cas de retard ou d&rsquo;absence de livraison de sa Commande, l&rsquo;Acheteur peut contacter le Service Clients de la Soci&eacute;t&eacute;, par courrier &eacute;lectronique &agrave; l'adresse &eacute;lectronique suivante :&nbsp;<script type="text/javascript">
	//<![CDATA[
	var l=new Array();
	l[0]='>';l[1]='a';l[2]='/';l[3]='<';l[4]='|110';l[5]='|116';l[6]='|46';l[7]='|109';l[8]='|111';l[9]='|99';l[10]='|64';l[11]='|116';l[12]='|99';l[13]='|97';l[14]='|116';l[15]='|110';l[16]='|111';l[17]='|99';l[18]='>';l[19]=' ';l[20]='"';l[21]='|110';l[22]='|116';l[23]='|46';l[24]='|109';l[25]='|111';l[26]='|99';l[27]='|64';l[28]='|116';l[29]='|99';l[30]='|97';l[31]='|116';l[32]='|110';l[33]='|111';l[34]='|99';l[35]=':';l[36]='o';l[37]='t';l[38]='l';l[39]='i';l[40]='a';l[41]='m';l[42]='"';l[43]='=';l[44]='f';l[45]='e';l[46]='r';l[47]='h';l[48]=' ';l[49]='a';l[50]='<';
	for (var i = l.length-1; i >= 0; i=i-1){
	if (l[i].substring(0, 1) == '|') document.write("&#"+unescape(l[i].substring(1))+";");
	else document.write(unescape(l[i]));}
	//]]>
	</script></p>
<p>L&rsquo;Acheteur dispose du droit d&rsquo;annuler sa Commande si la livraison de celle-ci n&rsquo;est pas intervenue au plus tard sept (7) jours ouvr&eacute;s apr&egrave;s la date de livraison indiqu&eacute;e par la Soci&eacute;t&eacute;, sauf si ce retard de livraison est d&ucirc; &agrave; un cas de force majeure.</p>
<p>Dans les quinze (15) jours ouvr&eacute;s suivant la demande d&rsquo;annulation par l&rsquo;Acheteur pr&eacute;vue au pr&eacute;sent article, la Soci&eacute;t&eacute; proc&eacute;dera au remboursement des montants de ladite Commande annul&eacute;e.</p>
<p>10.4. Livraison effectu&eacute;e</p>
<p>Chaque livraison est r&eacute;put&eacute;e effectu&eacute;e d&egrave;s mise &agrave; disposition du Produit aupr&egrave;s de l&rsquo;Acheteur par les services de livraison pr&eacute;vus, et mat&eacute;rialis&eacute;e par les syst&egrave;mes de contr&ocirc;le utilis&eacute;s par ces institutions.</p>
<p>Sans pr&eacute;judice du d&eacute;lai dont dispose l&rsquo;Acheteur au titre de son droit de r&eacute;tractation d&eacute;fini &agrave; l&rsquo;article 7 des pr&eacute;sentes, il appartient &agrave; l&rsquo;Acheteur de v&eacute;rifier les exp&eacute;ditions &agrave; l&rsquo;arriv&eacute;e et de faire toutes r&eacute;serves et r&eacute;clamations qui appara&icirc;traient justifi&eacute;es, voire de refuser le colis, si celui-ci est susceptible d&rsquo;avoir &eacute;t&eacute; ouvert ou s&rsquo;il porte des traces manifestes de d&eacute;t&eacute;rioration. Lesdites r&eacute;serves et r&eacute;clamations doivent &ecirc;tre adress&eacute;es &agrave; la soci&eacute;t&eacute; par lettre recommand&eacute;e avec accus&eacute; de r&eacute;ception dans les trois jours ouvrables suivant la r&eacute;ception du Produit par l&rsquo;Acheteur, une copie en sera imm&eacute;diatement adress&eacute;e &agrave; la Soci&eacute;t&eacute; qui assure la livraison.</p>
<p><strong>Article 11 &ndash; Modification des conditions g&eacute;n&eacute;rales de vente</strong></p>
<p>La Soci&eacute;t&eacute; se r&eacute;serve le droit de modifier les pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente.</p>
<p>Toute nouvelle version des pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente sera signal&eacute;e pr&eacute;alablement dans la rubrique &laquo; Conditions G&eacute;n&eacute;rales de Vente &raquo;.</p>
<p>Les Acheteurs qui ne souhaiteraient pas que les relations contractuelles soient r&eacute;gies par la nouvelle version des Conditions G&eacute;n&eacute;rales de Vente applicables &agrave; toute nouvelle Commande, devront le notifier &agrave; la Soci&eacute;t&eacute; par lettre recommand&eacute;e avec accus&eacute; de r&eacute;ception et devront, &agrave; compter de la date &agrave; partir de laquelle la nouvelle version prendra effet, cesser de passer des Commandes sur le Site Internet.</p>
<p><strong>Article 12 &ndash; Donn&eacute;es personnelles</strong></p>
<p>12.1. La Soci&eacute;t&eacute; s&rsquo;engage &agrave; respecter la confidentialit&eacute; des donn&eacute;es personnelles communiqu&eacute;es par les Acheteurs sur le Site.</p>
<p>12.2. La Soci&eacute;t&eacute; informe l&rsquo;Acheteur que ces donn&eacute;es seront utilis&eacute;es par ses services internes et/ou ceux des soci&eacute;t&eacute;s du groupe auquel la Soci&eacute;t&eacute; appartient :</p>
<p>- Pour informer l&rsquo;Acheteur des ventes et &eacute;v&eacute;nements &agrave; venir, par l&rsquo;envoi d&rsquo;emails d&rsquo;invitation,</p>
<p>- Pour le traitement de la Commande de l&rsquo;Acheteur,</p>
<p>- Pour renforcer et personnaliser la communication, notamment par l&rsquo;envoi de newsletters, d&rsquo;offres sp&eacute;ciales (notamment des concours, jeux, etc.) et d&rsquo;emails sp&eacute;ciaux dans le cadre de la personnalisation du Site Internet en fonction des pr&eacute;f&eacute;rences constat&eacute;es des Acheteurs.</p>
<p>Par ailleurs la Soci&eacute;t&eacute; rappelle que si l&rsquo;Acheteur venait &agrave; changer d&rsquo;avis et ne souhaitait plus ne recevoir que certaines cat&eacute;gories d&rsquo;emails, il peut &agrave; tout moment configurer ses choix dans son espace personnel pr&eacute;vu &agrave; cet effet sur le Site Internet.</p>
<p>12.3. La Soci&eacute;t&eacute; informe l&rsquo;Acheteur qu&rsquo;il pourra &eacute;galement communiquer ses donn&eacute;es personnelles pour assurer la livraison des Commandes par ses prestataires, et pour r&eacute;aliser des enqu&ecirc;tes de satisfaction. De plus, la Soci&eacute;t&eacute; pourra aussi communiquer ces donn&eacute;es pour r&eacute;pondre &agrave; une injonction des autorit&eacute;s l&eacute;gales.</p>
<p>12.4. Lors de la cr&eacute;ation ou consultation de son compte, l&rsquo;Acheteur pourra choisir de recevoir des offres, notamment commerciales, envoy&eacute;es par la Soci&eacute;t&eacute; et/ou par les soci&eacute;t&eacute;s du groupe auquel la Soci&eacute;t&eacute; appartient et concernant leurs partenaires commerciaux.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Article 13 &ndash;Autres</strong></p>
<p>13.1. Si l&rsquo;une des dispositions pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente est consid&eacute;r&eacute;e comme ill&eacute;gale ou inopposable par une d&eacute;cision de justice les autres dispositions des pr&eacute;sentes restent en vigueur.</p>
<p>13.2. Les informations d&eacute;livr&eacute;es sur le Site Internet font foi entre l&rsquo;Acheteur et la Soci&eacute;t&eacute;. Les &eacute;l&eacute;ments tels que la date et heure de la r&eacute;ception ou de l&rsquo;&eacute;mission, ainsi que la qualit&eacute; des donn&eacute;es re&ccedil;ues feront foi par priorit&eacute; telles que figurant sur les syst&egrave;mes d&rsquo;information de la Soci&eacute;t&eacute;, sauf &agrave; en apporter la preuve &eacute;crite et contraire par l'Acheteur. La port&eacute;e de la preuve des informations d&eacute;livr&eacute;es par les syst&egrave;mes informatiques de la Soci&eacute;t&eacute; est celle qui est accord&eacute;e &agrave; un original au sens d&rsquo;un document &eacute;crit papier et sign&eacute; de mani&egrave;re manuscrite.</p>
<p><strong>Article 14. Droit &ndash; Litige &ndash; Responsabilit&eacute;</strong></p>
<p>Les pr&eacute;sentes Conditions G&eacute;n&eacute;rales de Vente en langue fran&ccedil;aise seront ex&eacute;cut&eacute;es et interpr&eacute;t&eacute;es conform&eacute;ment au droit tunisien.</p>
<p>La Soci&eacute;t&eacute; d&eacute;gage sa responsabilit&eacute; pour tout manquement &agrave; ses obligations contractuelles dans l'hypoth&egrave;se d'une force majeure ou fortuite, y compris, mais sans y &ecirc;tre limit&eacute;es, catastrophes, incendies, gr&egrave;ve interne ou externe, d&eacute;faillance ou pannes internes ou externes, et d'une mani&egrave;re g&eacute;n&eacute;rale tout &eacute;v&eacute;nement ne permettant pas la bonne ex&eacute;cution des commandes.</p>
<p>La Soci&eacute;t&eacute; d&eacute;gage &eacute;galement sa responsabilit&eacute; dans l&rsquo;hypoth&egrave;se o&ugrave; l&rsquo;inex&eacute;cution ou la mauvaise ex&eacute;cution du contrat est imputable &agrave; l'Acheteur.</p>
<p>En tout &eacute;tat de cause, si le d&eacute;faut d&rsquo;ex&eacute;cution ou la mauvaise ex&eacute;cution du contrat &eacute;tait manifestement imputable &agrave; la Soci&eacute;t&eacute;, celle-ci ne sera tenue au d&eacute;dommagement qu&rsquo;&agrave; hauteur des sommes pay&eacute;es par l'Acheteur au titre du prix du Produit et des frais d&rsquo;acheminement.</p>
<p>En cas de litige, l&rsquo;Acheteur s&rsquo;adressera par priorit&eacute; &agrave; la Soci&eacute;t&eacute; pour obtenir une solution &agrave; l'amiable. A d&eacute;faut, les tribunaux tunisiens seront comp&eacute;tents.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>			</div>
        </article>
      </main>
      <div ng-include ng-init="sideboxClass = 'large-3 columns'" src="'templates/side-box.html'"></div>
    </div>
    <div ng-include src="'templates/footer.html'"></div>
  </ion-content>
</ion-view>
