/* Empty. Add your own CSS if you like */
.load-more {
  width: 66.66667%;
  float: right;
}
.search-result .load-more {
  width: 100%;
}

.pane {
  background-image: url("../assets/img/bg.png");
}

.cart-details-wrap {
  overflow-x: auto;
}
.disable-scroll {
  /*overflow: hidden !important;*/
  -webkit-overflow-scrolling: auto !important;
}
.checkout .main-footer {
  text-align: center;
}
.checkout .main-footer .button  {
  float: none;
  display: inline-block;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
}

.row .half {
    width: 100% !important;
}
.row .half + .half {
    border-top: 2px solid #f6f6f6;
    border-left: none;
}

.scroll-refresher .icon {
    width: inherit;
    height: inherit;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    background-color: inherit;
    line-height: inherit;
}
.scroll-refresher .icon:before {
  content: "";
  font: inherit;
  font-family: "Ionicons";
  color: inherit;
  display: inherit;
}

#mapcontact {
  height: 300px;
  margin: -10px -15px 0 -30px;
  border-bottom: 1px solid #d8d8d8;
}

.loading-container {
  z-index: 10000;
}

.popin .error {
  display: block !important;
}

.search-input-wrap::before {
  content: "\f002";
  font: 18px FontAwesome;
  position: absolute;
  left: 8px;
  top: 6px;
}
#search-box.active .search-input-wrap::before {
  color: #000;
  z-index: 20;
}

/*#search-box input#search-input {
  opacity: 0.3;
}*/
/*#search-box label {
  display: none;
}*/
